
@{
    ViewBag.Title = "gongyingshang";
    Layout = "~/Views/New/Index.cshtml";
}


<div>

    <div class="layui-card">
        <div class="layui-card-header">
            <a href="javascript:;">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;
            <a href="javascript:;">基本资料</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="javascript:;">供应商管理</a>

        </div>
        <div class="layui-card-body">


            <div class="layui-card" style="border: 1px solid #E1DFDF">


                <div class="layui-card-header">
                    供应商管理
                    <button type="button" class="layui-btn layui-btn-normal layui-btn-radius" style="margin-left:920px" onclick="show()">新增</button>
                    <button type="button" class="layui-btn layui-btn-danger layui-btn-radius">删除</button>
                    <button type="button" class="layui-btn layui-btn-radius">导出</button>

                </div>
                <div class="layui-card-body">

                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="请输入供应商编号或类型" id="tiaojian">
                        </div>
                        <button type="button" class="btn btn-default" style="background-color:#49afcd;color:white;" id="sousuo"><span class="glyphicon glyphicon-search" ></span>   搜索</button>
                    </form>






                    <div class="layui-form">
                        <table class="layui-table">
                            <colgroup>
                                @*<col width="150">
                        <col width="150">
                        <col width="200">
                        <col>*@
                            </colgroup>
                            <thead>
                                <tr>
                                    <td><input id="Checkbox1" type="checkbox" /></td>
                                    <td>&nbsp;供应商编号</td>
                                    <td>&nbsp;供应商类型</td>
                                    <td>&nbsp;供应商名称</td>
                                    <td>&nbsp;电话</td>
                                    <td>&nbsp;传真</td>
                                    <td>&nbsp;Email</td>
                                    <td>&nbsp;联系人</td>
                                    <td>&nbsp;地址</td>
                                    <td>&nbsp;描述</td>
                                    <td>&nbsp;操作</td>

                                </tr>
                            </thead>
                            <tbody id="tb1">
                            </tbody>
                        </table>
                    </div>


                    <div id="divBtn">
                        共<label id="sum"></label>行
                        <button type="button" class="btn btn-primary" style="margin-left:500px" id="shou">首页</button>
                        <button type="button" class="btn btn-primary" id="shang">上一页</button>
                        <button type="button" class="btn btn-primary" id="xia">下一页</button>
                        <button type="button" class="btn btn-primary" id="wei">尾页</button>
                    </div>
                </div>

                <div id="hideID" hidden="hidden">
                    <form class="navbar-form navbar-left" role="search">
                        <br />
                        <span style="margin-left:30px">供应商编号&nbsp;&nbsp;<input type="text" class="form-control" name="GID" id="GID" readonly="readonly" placeholder="自动生成,可不填" /></span>
                        <span style="margin-left:30px">供应商名称&nbsp;&nbsp;<input type="text" class="form-control" name="GName" id="GName" placeholder="请输入供应商名称" /></span>
                        <br />
                        <br />
                        <span style="margin-left:30px">传真&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="form-control" name="faxes" id="faxes" /></span>
                        <span style="margin-left:30px">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="form-control" name="Email" id="Email" /></span>




                        <br />
                        <br />
                        <span style="margin-left:30px">电话&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="form-control" name="phone" id="phone" /></span>
                        <span style="margin-left:30px">联系人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="form-control" name="linkman" id="linkman" /></span>

                        <br />
                        <br />
                        <span style="margin-left:30px">地址&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="form-control" name="address" id="address" /></span>
                        <span style="margin-left:30px">描述&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="form-control" name="describe" id="describe" /></span>
                        <br />
                        <br />

                        <div class="layui-input-inline" style="margin-left:30px">
                            供应商类型&nbsp;&nbsp;
                            <select name="gysType" id="gysType">
                                <option value="0">请选择</option>

                            </select>
                        </div>
                        <br />
                        <br />
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left:400px" id="xinzeng">确定</button>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="guanbi">关闭</button>
                    </form>
                </div>



                <div id="hideID22" hidden="hidden">
                    <form class="navbar-form navbar-left" role="search">
                        <br />
                        <span style="margin-left:30px">供应商编号&nbsp;&nbsp;<input type="text" class="form-control" name="GID" id="GID2" readonly="readonly" placeholder="自动生成,可不填" /></span>
                        <span style="margin-left:30px">供应商名称&nbsp;&nbsp;<input type="text" class="form-control" name="GName" id="GName2" placeholder="请输入供应商名称" /></span>
                        <br />
                        <br />
                        <span style="margin-left:30px">传真&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="form-control" name="faxes" id="faxes2" /></span>
                        <span style="margin-left:30px">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="form-control" name="Email" id="Email2" /></span>


                        <br />
                        <br />
                        <span style="margin-left:30px">电话&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="form-control" name="phone" id="phone2" /></span>
                        <span style="margin-left:30px">联系人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="form-control" name="linkman" id="linkman2" /></span>

                        <br />
                        <br />
                        <span style="margin-left:30px">地址&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="form-control" name="address" id="address2" /></span>
                        <span style="margin-left:30px">描述&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="form-control" name="describe" id="describe2" /></span>
                        <br />
                        <br />

                        <div class="layui-input-inline" style="margin-left:30px">
                            供应商类型&nbsp;&nbsp;
                            <select name="gysType" id="gysType" class="gysType2">
                                <option value="0">请选择</option>
                            </select>
                        </div>
                        <br />
                        <br />
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left:400px" id="xg" onclick="Get_gysUpdate()">确定</button>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="guanbi2">关闭</button>
                    </form>
                </div>

            </div>


        </div>
    </div>
</div>



<link href="~/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.js"></script>

<script>
    var PageIndex = 1;
    var PageSize = 2;
    var PageCount = 0;
    $(function () {
        Get_gysTypeAll();
        Get_All();
        $("#shou").click(function () {
            PageIndex = 1;
            Get_All();
        })

        $("#shang").click(function () {
            PageIndex--;
            Get_All();
        })

        $("#xia").click(function () {
            PageIndex++;
            Get_All();
        })

        $("#wei").click(function () {
            PageIndex = PageCount;
            Get_All();
        })
    })

    //分页
    function Get_All() {
        $.ajax({
            type: "POST",
            url: "/KL/Get_gongyingshangAll",
            data: "{PageIndex:'" + PageIndex + "',PageSize:'" + PageSize + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                console.log(result);
                $("#tb1 tr").remove();
                PageCount = result.PageCount;
                $.each(result.DateList, function (index, data) {
                    $("#tb1").append("<tr><td><input id='Checkbox1'style='display:block;' type='checkbox'/></td><td>" + data.GID + "</td><td>" + data.gystypeName + "</td><td>" + data.GName + "</td><td>" + data.phone + "</td><td>" + data.faxes + "</td><td>" + data.Email + "</td><td>" + data.linkman + "</td><td>" + data.address + "</td><td>" + data.describe + "</td><td><button type='button' class='layui - btn layui - btn - primary layui - btn - sm' style='margin - left: 900px' id='sc' onclick='Get_gysDel(" + data.GID + ")'>删除</button><button type='button' class='layui - btn layui - btn - primary layui - btn - sm' style='margin - left: 900px' id='sc' style='margin-left:100px' onclick='Get_gysByid(" + data.GID + ")'>编辑</button></td></tr>");
                    $("#sum").html(data.sum)
                })
            },
        });
        btnButton();
    }

    //禁用
    function btnButton() {
        $("#divBtn :button").prop("disabled", false);
        if (PageIndex == 1) {
            $("#shou").prop("disabled", true);
            $("#shang").prop("disabled", true);
        }
        if (PageIndex == PageCount) {
            $("#wei").prop("disabled", true);
            $("#xia").prop("disabled", true);
        }

    }

    //新增供应商
    $("#xinzeng").click(function () {
        var GName = $("#GName").val();
        var gystypeID = $("#gysType").val();
        var phone = $("#phone").val();
        var faxes = $("#faxes").val();
        var Email = $("#Email").val();
        var linkman = $("#linkman").val();
        var address = $("#address").val();
        var describe = $("#describe").val();
        var state = 0;

        $.ajax({
            type: "POST",
            url: "/KL/Get_gysinsert",
            data: "{g:{GName:'" + GName + "',gystypeID:'" + gystypeID + "',phone:'" + phone + "',faxes:'" + faxes + "',Email:'" + Email + "',linkman:'" + linkman + "',address:'" + address + "',describe:'" + describe + "',state:'" + state + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("新增成功");
                    Get_All();
                } else {
                    alert("新增失败");
                }
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    })

    //新增弹窗
    function show()  {
        layer.open({
            type: 1,
            skin: 'layui-layer-demo', //样式类名
            title: ['添加供应商', 'font-size:18px'],
            area: ['650px', '350px'],
            shadeClose: true,
            content: $('#hideID') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
        });

        //Ajax获取
        $.post('url', {}, function (str) {
            layer.open({
                type: 1,

                content: str //注意，如果str是object，那么需要字符拼接。
            });
        });
    }

    //供应商类型查询
    function Get_gysTypeAll() {
        $.ajax({
            type: "POST",
            url: "/KL/Get_gysTypeAll",
            data: "{}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                console.log(result);
                $.each(result, function (index, data) {
                    $("[name='gysType']").append("<option value=" + data.gystypeID + ">" + data.gystypeName + "</option>");
                })
            },
        });
    }

    //关闭
    $("#guanbi").click(function () {
        layer.closeAll('page');
    })
    $("#guanbi2").click(function () {
        layer.closeAll('page');
    })


    $("#sousuo").click(function () {
        var obj = $("#tiaojian").val();
            $.ajax({
                type: "POST",
                url: "/KL/Get_gystiaojiAll",
                data: "{GID:'" + obj + "',gystypeName:'" + obj + "'}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    console.log(result);
                    $("#tb1 tr").remove();
                    $.each(result, function (index, data) {
                        $("#tb1").append("<tr><td><input id='Checkbox1'style='display:block;' type='checkbox'/></td><td>" + data.GID + "</td><td>" + data.gystypeName + "</td><td>" + data.GName + "</td><td>" + data.phone + "</td><td>" + data.faxes + "</td><td>" + data.Email + "</td><td>" + data.linkman + "</td><td>" + data.address + "</td><td>" + data.describe + "</td><td><button type='button' class='layui - btn layui - btn - primary layui - btn - sm' style='margin - left: 900px' id='sc' onclick='Get_kuweiDel(" + data.TID + ")'>删除</button><button type='button' class='layui - btn layui - btn - primary layui - btn - sm' style='margin - left: 900px' id='sc' style='margin-left:100px' onclick='bj(" + data.TID + ")'>编辑</button></td></tr>");
 
                    })
                },
            });
        
    })

    //删除供应商
    function Get_gysDel(GID) {
        var state = 1;
        if (confirm('确定删除?')) {
            $.ajax({
                type: "POST",
                url: "/KL/Get_gysDel",
                data: "{GID:'" + GID + "',state:'" + state + "'}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result > 0) {
                        alert("修改状态成功");
                        Get_All();
                    } else {
                        alert("修改状态失败");
                    }
                },
                error: function (ex) {
                    alert(ex.responseText);
                }
            });
        }
    }

    //编辑供应商
    function Get_gysByid(GID) {
        layer.open({
            type: 1,
            skin: 'layui-layer-demo', //样式类名
            title: ['修改供应商', 'font-size:18px'],
            area: ['650px', '350px'],
            shadeClose: true,
            content: $('#hideID22') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
        });

        $.ajax({
            type: "POST",
            url: "/KL/Get_gysByid",
            data: "{id: " + GID + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $("#GID2").val(data.GID);
                    $("#GName2").val(data.GName);
                    $("#faxes2").val(data.faxes);
                    $("#Email2").val(data.Email);
                    $("#phone2").val(data.phone);
                    $("#linkman2").val(data.linkman);
                    $("#address2").val(data.address);
                    $("#describe2").val(data.describe);
                    $(".gysType2").val(data.gystypeID);
                })
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }

    //修改供应商
    function Get_gysUpdate() {
        var GID = $("#GID2").val();
        var GName = $("#GName2").val();
        var gystypeID = $(".gysType2").val();
        var phone = $("#phone2").val();
        var faxes = $("#faxes2").val();
        var Email = $("#Email2").val();
        var linkman = $("#linkman2").val();
        var address = $("#address2").val();
        var describe = $("#describe2").val();
        var state = 0;

        $.ajax({
            type: "POST",
            url: "/KL/Get_gysUpdate",
            data: "{g:{GID:'" + GID+"',GName:'" + GName + "',gystypeID:'" + gystypeID + "',phone:'" + phone + "',faxes:'" + faxes + "',Email:'" + Email + "',linkman:'" + linkman + "',address:'" + address + "',describe:'" + describe + "',state:'" + state + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("修改成功");
                    Get_All();
                } else {
                    alert("修改失败");
                }
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }


    
  
</script>

