
@{
    ViewBag.Title = "kuwei";
    Layout = "~/Views/New/Index.cshtml";
}


<div>

    <div class="layui-card">
        <div class="layui-card-header">
            <a href="javascript:;">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;
            <a href="javascript:;">基本资料</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="javascript:;">库位管理</a>

        </div>
        <div class="layui-card-body">


            <div class="layui-card" style="border: 1px solid #E1DFDF">


                <div class="layui-card-header">
                    库位管理
                    <button type="button" class="layui-btn layui-btn-normal layui-btn-radius" style="margin-left:1020px" onclick="show()">新增</button>
                    <button type="button" class="layui-btn layui-btn-radius">导出</button>

                </div>
                <div class="layui-card-body">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            仓库
                            <div class="layui-input-inline">
                                <select name="quiz3">
                                    <option value="">请选择仓库</option>
                                    <option value="产品仓库">产品仓库</option>
                                </select>
                            </div>
                            类型
                            <div class="layui-input-inline">
                                <select name="quiz3">
                                    <option value="">请选择</option>
                                    <option value="产品仓库">xx库区</option>
                                    <option value="产品仓库">xx库区</option>
                                    <option value="产品仓库">xx库区</option>
                                    <option value="产品仓库">xx库区</option>
                                </select>
                            </div>
                            库位 <input type="text" name="kuweiName" class="form-control" />
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal">搜索</button>

                        </div>

                    </form>







                    <div class="layui-form">
                        <table class="layui-table">
                            
                            <thead>
                                <tr>
                                    <td>&nbsp;库位编号</td>
                                    <td>&nbsp;库位名</td>
                                    <td>&nbsp;所在仓库</td>
                                    <td>&nbsp;库位类型</td>
                                    <td>&nbsp;是否禁用</td>
                                    <td>&nbsp;是否默认</td>
                                    <td>&nbsp;创建时间</td>
                                    <td>&nbsp;操作</td>
                                </tr>
                            </thead>
                            <tbody id="tb1">
                              
                            </tbody>
                        </table>
                    </div>


                    <div>
                        共 <label id="sum"></label> 行 ,每页
                        <div class="layui-input-inline">
                            <select name="fenyerows">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                            </select>
                        </div>
                        行
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left:900px" id="shouye">首页</button>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">1</button>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="weiye">尾页</button>

                    </div>
                </div>

                <div id="hideID" hidden>
                    <br />
                    <span style="margin-left:30px">库位编号&nbsp;&nbsp;<input type="text" name="kuweiName" readonly="readonly" placeholder="自动生成,可不填" /></span>
                    <span style="margin-left:30px">库位名称&nbsp;&nbsp;<input type="text" name="kuweiName" placeholder="请输入库位名称" /></span>
                    <br />
                    <br />
                    <span style="margin-left:30px">库位条码&nbsp;&nbsp;<input type="text" name="kuweiName" /></span>
                    <div class="layui-input-inline" style="margin-left:30px">
                        库位类型&nbsp;&nbsp;
                        <select name="quiz3">
                            <option value="">请选择</option>
                            <option value="产品仓库">xx库区</option>
                            <option value="产品仓库">xx库区</option>
                            <option value="产品仓库">xx库区</option>
                            <option value="产品仓库">xx库区</option>
                        </select>
                    </div>


                    <br />
                    <br />

                    <div class="layui-input-inline" style="margin-left:30px">
                        仓库&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <select name="quiz3">
                            <option value="">请选择仓库</option>
                            <option value="产品仓库">产品仓库</option>
                        </select>
                    </div>


                    <div class="layui-input-inline" style="margin-left:100px">
                        是否默认&nbsp;&nbsp;
                        <select name="quiz3">
                            <option value="">请选择</option>
                            <option value="产品仓库">是</option>
                            <option value="产品仓库">否</option>
                        </select>
                    </div>
                    <br />
                    <br />
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left:400px">确定</button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">关闭</button>
                </div>





            </div>


        </div>
    </div>
</div>

<link href="~/layui/css/layui.css" rel="stylesheet" />
<link href="~/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/layui/layui.js"></script>
<script src="~/layui/layui.all.js"></script>
@*<script src="~/layui/layui.js" charset="utf-8"></script>
    <script src="~/layui/layui.all.js"></script>*@
<script>
    function show() {
        layer.open({
            type: 1,
            skin: 'layui-layer-demo', //样式类名
            title: ['添加库位', 'font-size:18px'],
            area: ['600px', '350px'],
            shadeClose: true,
            content: $('#hideID') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
        });

        //Ajax获取
        $.post('url', {}, function (str) {
            layer.open({
                type: 1,
                content: str //注意，如果str是object，那么需要字符拼接。
            });
        });
    }

  

    $(function () {
        Get_All();
    })

    $("#shouye").click(function () {
        if (PageIndex == 1) {
            return;
        }
        Get_All();
    })


    var PageIndex = 1;
    var PageSize = 2;
    var PageCount = 0;
    function Get_All() {
        var ty = $("[name='fenyerows']").val();
        $.ajax({
            type: "POST",
            url: "/KL/Get_kuweiAll",
            data: "{PageIndex:" + PageIndex + ",PageSize:" + PageSize + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                console.log(result);
                $("#tb1 tr").remove();
                PageCount = result.PageCount;
                $.each(result.DateList, function (index, data) {
                    $("#tb1").append("<tr><td>" + data.TID + "</td><td>" + data.KName + "</td><td>" + data.WName + "</td><td>" + data.KuName + "</td><td>" + data.forbidden + "</td><td>" + 11 + "</td><td>" + Data(data.CreationDate) + "</td><td></td></tr>");
                    $("#rows").html(b.rows);
                })
            }

        });
    }

    //转换日期
    function Data(time) {
        var date = new Date(parseInt(time.substr(6)));
        return date.toLocaleDateString();
    }


    
    function Get_Allss() {
        var ty = $("[name='fenyerows']").val();
        $.ajax({
            type: "POST",
            url: "/KL/Get_kuweiAllss",
            data: "{}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tb1 tr").remove();
                $.each(result, function (a, b) {
                    $("#tb1").append("<tr><td>" + b.TID + "</td><td>" + b.KName + "</td><td>" + b.WName + "</td><td>" + b.KuName + "</td><td>" + b.forbidden + "</td><td>" + Data(b.CreationDate) + "</td></tr>");
                    $("#rows").html(b.rows);
                })
            }

        });
    }
</script>