
@{
    ViewBag.Title = "kuwei";
    Layout = "~/Views/New/Index.cshtml";
}


<div>

    <div class="layui-card">
        <div class="layui-card-header">
            <a href="javascript:;">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;
            <a href="javascript:;">基本资料</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="javascript:;">库位管理</a>

        </div>
        <div class="layui-card-body">


            <div class="layui-card" style="border: 1px solid #E1DFDF">


                <div class="layui-card-header">
                    库位管理
                    <button type="button" class="layui-btn layui-btn-normal layui-btn-radius" style="margin-left:1020px" onclick="show()">新增</button>
                    <button type="button" class="layui-btn layui-btn-radius">导出</button>

                </div>
                <div class="layui-card-body">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            仓库
                            <div class="layui-input-inline">
                                <select name="cangku" id="cangku">
                                    <option value="0">请选择仓库</option>
                                </select>
                            </div>
                            类型
                            <div class="layui-input-inline">
                                <select name="Kuweitype" id="Kuweitype">
                                    <option value="0">请选择</option>

                                </select>
                            </div>
                            库位 <input type="text" name="kuweiName" class="form-control" id="KName" />
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" id="sousuo">搜索</button>

                        </div>

                    </form>







                    <div class="layui-form">
                        <table class="layui-table">

                            <thead>
                                <tr>
                                    <td>&nbsp;库位编号</td>
                                    <td>&nbsp;库位条码</td>
                                    <td>&nbsp;库位名</td>
                                    <td>&nbsp;所在仓库</td>
                                    <td>&nbsp;库位类型</td>
                                    <td>&nbsp;是否禁用</td>
                                    <td>&nbsp;是否默认</td>
                                    <td>&nbsp;创建时间</td>
                                    <td>&nbsp;操作</td>
                                </tr>
                            </thead>
                            <tbody id="tb1">
                            </tbody>
                        </table>
                    </div>


                    <div>
                        共 <label id="sum"></label> 行


                        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left:500px" id="shouye">上一页</button>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="weiye">下一页</button>

                    </div>
                </div>

                <div id="hideID" hidden="hidden">
                    <form class="navbar-form navbar-left" role="search">
                        <br />
                        <span style="margin-left:30px">库位编号&nbsp;&nbsp;<input type="text" name="TID" readonly="readonly" placeholder="自动生成,可不填" class="form-control" /></span>
                        <span style="margin-left:30px">库位名称&nbsp;&nbsp;<input type="text" name="KNname" id="Kname2" placeholder="请输入库位名称" class="form-control" /></span>
                        <br />
                        <br />
                        <span style="margin-left:30px">库位条码&nbsp;&nbsp;<input type="text" name="KID" class="form-control" /></span>
                        <div class="layui-input-inline" style="margin-left:30px">
                            库位类型&nbsp;&nbsp;
                            <select name="Kuweitype" id="KuTypeID2">
                                <option value="0">请选择</option>

                            </select>
                        </div>


                        <br />
                        <br />

                        <div class="layui-input-inline" style="margin-left:30px">
                            仓库&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <select name="cangku" id="WID2">
                                <option value="0">请选择仓库</option>
                            </select>
                        </div>


                        <div class="layui-input-inline" style="margin-left:120px">
                            是否默认&nbsp;&nbsp;
                            <select name="moren" id="moren2">
                                <option value="">请选择</option>
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                        <br />
                        <br />
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left:400px" id="xinzeng">确定</button>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="guanbi" onclick="guanbi()">关闭</button>
                    </form>
                </div>



                <div id="hideID22" hidden="hidden">
                    <form class="navbar-form navbar-left" role="search">
                        <br />
                        <span style="margin-left:30px">库位编号&nbsp;&nbsp;<input type="text" name="TID2" id="TID2" class="form-control" readonly="readonly" placeholder="自动生成,可不填"/></span>
                        <span style="margin-left:30px">库位名称&nbsp;&nbsp;<input type="text" name="KNname" id="Kname3" placeholder="请输入库位名称" class="form-control" /></span>
                        <br />
                        <br />
                        <span style="margin-left:30px">库位条码&nbsp;&nbsp;<input type="text" name="KID2" id="KID3" class="form-control"/></span>
                        <div class="layui-input-inline" style="margin-left:30px" >
                            库位类型&nbsp;&nbsp;
                            <select name="Kuweitype" id="KuTypeID3">
                                <option value="0" selected="selected">请选择</option>
                            </select>
                        </div>


                        <br />
                        <br />

                        <div class="layui-input-inline" style="margin-left:30px">
                            仓库&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <select name="cangku" id="WID3" class="WID3">
                                <option value="0">请选择仓库</option>
                            </select>
                        </div>


                        <div class="layui-input-inline" style="margin-left:120px">
                            是否默认&nbsp;&nbsp;
                            <select name="moren" id="moren3" class="moren3">
                                <option value="">请选择</option>
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                        <br />
                        <br />
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left:400px" id="xiugaiha" onclick="xiugai()">确定</button>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" onclick="guanbi2()">关闭</button>
                    </form>
                </div>

            </div>


        </div>
    </div>
</div>

<link href="~/layui/css/layui.css" rel="stylesheet" />
<link href="~/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/layui/layui.js"></script>
<script src="~/layui/layui.all.js"></script>

<script>
    var PageIndex = 1;
    var PageSize = 2;
    var PageCount = 0;
    $(function () {
        Get_kuweiTypes();
        Get_kuweiwarehouses();
        Get_All();
        
    })

    $("#shouye").click(function () {
        if (PageIndex == 1) {
            alert("当前是首页");
            return;
        }
        PageIndex--;
        Get_All();
    })

    $("#weiye").click(function () {
        if (PageIndex == PageCount) {
            alert("当前是尾页");
            return;
        }
        PageIndex++;
        Get_All();
    })

    $("#guanbi").click(function () {
        layer.closeAll('page');
    })

  

  

    function guanbi2() {
        Get_All();
        $("#hideID22").hide();

    }
   
    //分页
    function Get_All() {
        $.ajax({
            type: "POST",
            url: "/KL/Get_kuweiAll",
            data: "{PageIndex:" + PageIndex + ",PageSize:" + PageSize + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                console.log(result);
                $("#tb1 tr").remove();
                PageCount = result.PageCount;
                $.each(result.DateList, function (index, data) {
                    $("#tb1").append("<tr><td>" + data.TID + "</td><td>" + data.KID + "</td><td>" + data.KName + "</td><td>" + data.WName + "</td><td>" + data.KuName + "</td><td>" + data.forbidden + "</td><td>" + data.moren + "</td><td>" + Data(data.CreationDate) + "</td><td><button type='button' class='layui - btn layui - btn - primary layui - btn - sm' style='margin - left: 900px' id='sc' onclick='Get_kuweiDel(" + data.TID + ")'>删除</button><button type='button' class='layui - btn layui - btn - primary layui - btn - sm' style='margin - left: 900px' id='sc' style='margin-left:100px' onclick='bj(" + data.TID + ")'>编辑</button></td></tr>");
                    $("#sum").html(data.rows)
                })
            },
            error: function (ex) {
                console.log("ex:" + ex);
                alert(ex.responseText);
            }

        });
    }

    //转换日期
    function Data(time) {
        var date = new Date(parseInt(time.substr(6)));
        return date.toLocaleDateString();
    }


    //安条件查询所有
    $("#sousuo").click(function () {
        var stases = 0;
        if (stases != 0) {
            alert("111");
        }
        var WID = $("#cangku").val();
        var Kuweitype = $("#Kuweitype").val();
        var KName = $("#KName").val();
        alert(WID);
        alert(Kuweitype);
        alert(KName);
        $.ajax({
            type: "POST",
            url: "/KL/Get_kuweiAllss",
            data: "{WID:'" + WID + "',KuTypeID:'" + Kuweitype + "',KName:'" + KName +"'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                console.log(result);
                $("#tb1 tr").remove();
                $.each(result, function (index, data) {
                    $("#tb1").append("<tr><td>" + data.TID + "</td><td>" + data.KID + "</td><td>" + data.KName + "</td><td>" + data.WName + "</td><td>" + data.KuName + "</td><td>" + data.forbidden + "</td><td>" + data.moren + "</td><td>" + Data(data.CreationDate) + "</td><td><button type='button' class='layui - btn layui - btn - primary layui - btn - sm' style='margin - left: 900px' id='sc' onclick='Get_kuweiDel(" + data.TID + ")'>删除</button><button type='button' class='layui - btn layui - btn - primary layui - btn - sm' style='margin - left: 900px' id='sc' style='margin-left:100px' onclick='bj(" + data.TID + ")'>编辑</button></td></tr>");
                    $("#sum").html(data.rows)
                })
            }

        });
    })

    //查询库位类型
    function Get_kuweiTypes() {
     
        $.ajax({
            type: "POST",
            url: "/KL/Get_kuweiType",
            data: "{}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (a, b) {
                    $("[name='Kuweitype']").append("<option value=" + b.KuTYpeID + ">" + b.KuName+"</option>");
                })
            }

        });
    }


    //查询库位仓库
    function Get_kuweiwarehouses() {
        $.ajax({
            type: "POST",
            url: "/KL/Get_kuweiwarehouse",
            data: "{}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (a, b) {
                    $("[name='cangku']").append("<option value=" + b.WID + ">" + b.WName + "</option>");
                    
                })
            }

        });
    }

    //删除库位
    function Get_kuweiDel(id) {
        alert(id);
        if (confirm('确定删除?')) {            
                        //修改状态
                        var states = 1;
                        $.ajax({
                            type: "POST",
                            url: "/KL/Get_kuweiupdatestate",
                            data: "{TID:" + id + ",state:" + states + "}",
                            dataType: "json",
                            contentType: "application/json",
                            success: function (result) {
                                if (result > 0) {
                                    alert("修改状态成功");
                                    Get_All();
                                } else {
                                    alert("修改状态失败");
                                }
                            },
                            error: function (ex) {
                                alert(ex.responseText);
                            }
                        });
                     
        }
    }


    //新增库位
    $("#xinzeng").click(function () {
        
        var KID = $("[name='KID']").val();
        var KName = $("#Kname2").val();
        var WID = $("#WID2").val();
        var KuTypeID = $("#KuTypeID2").val();
        var moren = $("#moren2").val();
        alert(KID);
        alert(KName);
        alert(WID);
        alert(KuTypeID);
        // alert(moren);
        $.ajax({
            type: "POST",
            url: "/KL/Get_kuweiInsert",
            data: "{s:{KID:'" + KID + "',KName:'" + KName + "',WID:'" + WID + "',KuTypeID:'" + KuTypeID + "',moren:'" + moren + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("新增成功");
                    Get_All();
                } else {
                    alert("新增失败");
                }
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    })

    //编辑库位
    function bj(id) {
        $("#hideID22").show();
       
                $.ajax({
                    type: "POST",
                    url: "/KL/Get_kuweiByid",
                    data: "{ID: "+id +"}",
                    dataType: "json",
                    contentType: "application/json",
                    success: function (result) {    
                        $.each(result, function (index, data) {
                                $("#TID2").val(data.TID);
                                $("#KID3").val(data.KID);
                                $("#Kname3").val(data.KName);
                                $("#WID3").val(data.WID);
                                $("#KuTypeID3").val(data.KuTypeID);
                                $("#moren3").val(data.moren);
                        })
                    },
                    error: function (ex) {
                        alert(ex.responseText);
                    }
                });
            }
      
    //修改库位
    function xiugai() {
        var TID = $("#TID2").val();
        var KID = $("#KID3").val();
        var KName = $("#Kname3").val();
        var WID = $("#WID3").val();
        var KuTypeID = $("#KuTypeID3").val();
        var moren = $("#moren3").val();
        var forbidden = "否";
        var state = 0;

        $.ajax({
            type: "POST",
            url: "/KL/Get_kuweiupdate",
            data: "{s:{TID:'" + TID + "',KID:'" + KID + "',KName:'" + KName + "',WID:'" + WID + "',KuTypeID:'" + KuTypeID + "',moren:'" + moren + "',forbidden:'" + forbidden + "',state:'"+state+"'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("修改成功");
                    
                } else {
                    alert("修改失败");
                }
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }
     

        

    //新增弹窗
    function show() {
        layer.open({
            type: 1,
            skin: 'layui-layer-demo', //样式类名
            title: ['添加库位', 'font-size:18px'],
            area: ['600px', '350px'],
            shadeClose: true,
            content: $('#hideID') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
        });

        ////Ajax获取
        //$.post('1', {}, function (str) {
        //    layer.open({
        //        type: 1,
        //        content: str //注意，如果str是object，那么需要字符拼接。
        //    });
        //});
    }


</script>