
@{
    ViewBag.Title = "addtuihuo";
    Layout = "~/Views/New/Index.cshtml";
}


<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-body">
            <!-- 内容主体区域 -->

            <ul class="">
                <li class=""><a href="">首页</a>>  <a href="">仓库作业</a>>    <a href="">退货管理</a> ><a href="">新增退货</a></li>


            </ul>

            <form class="layui-form" id="form1" action="" lay-filter="example">
                

                <div class="layui-inline">
                    <div class="layui-input-inline" style="width: 200px;">
                        退货单号
                        <input type="text" name="tuihuoID" lay-verify="title" autocomplete="off" placeholder="可不填,自动生成" readonly="readonly" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        退货类型
                        <select name="tuihuoTypeID">
                            <option value="">请选择仓库类型</option>
                            <option value="1">销售退货</option>
                            <option value="2">采购退货</option>


                        </select>
                    </div>

                    <div class="layui-input-inline" style="width: 200px;">
                        关联订单
                        <input type="text" name="chanpinID" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline" style="width: 200px;">
                        制单时间
                        <input type="text" name="CreationDate" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                  

                    </div>

                    <div class="layui-inline">
                        <div class="layui-input-inline" style="width: 200px;">
                            制单人
                            <input type="text" name="UserID" placeholder="admin" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline" style="width: 400px;">
                            备注
                            <input type="text" name="time_max" placeholder="" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="table">
                        <table class="layui-table">

                            <thead>
                                <tr>

                                    <td>&nbsp;产品编号</td>
                                    <td>&nbsp;产品条码</td>
                                    <td>&nbsp;产品名称</td>
                                    <td>&nbsp;批次</td>
                                    <td>&nbsp;库位名称</td>
                                    <td>&nbsp;出库数量</td>
                                    <td>&nbsp;退货数量</td>
                                  


                                </tr>
                            </thead>
                            <tbody id="tb2">
                                
                            </tbody>
                        </table>
                        <div class="layui-btn-group">
                            <button type="button" onclick="show('light')" class="layui-btn layui-btn-sm"><i class="layui-icon"></i>添加移库产品</button>
                            <button type="button" onclick="Addth()" class="layui-btn layui-btn-sm"><i class="layui-icon"></i>提交</button>
                            <button type="button" onclick="Edit()" class="layui-btn layui-btn-sm"><i class="layui-icon"></i>编辑</button>

                            <button type="button" onclick="quxiao()" class="layui-btn layui-btn-sm"><i class="layui-icon"></i>取消</button>
                        </div>
                    </div>
            </form>


            <div id="light" class="white_content">


                <div style="height:450px;">
                    <div class="layui-input-inline" style="width: 200px;">
                        产品名称： <input type="text" onkeydown="GetALL()"  id="chanpinName" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                    <table class="layui-table">
                        <thead>
                            <tr>
                                
                                <td>&nbsp;产品编号</td>
                                <td>&nbsp;产品条码</td>
                                <td>&nbsp;产品名称</td>
                                <td>&nbsp;批次</td>
                                <td>&nbsp;库位名称</td>
                                <td>&nbsp;出库数量</td>
                                <td>&nbsp;退货数量</td>

                            </tr>
                        </thead>
                        <tbody id="tb1">
                            


                        </tbody>
                    </table>
                    <div style="float:right">

                        <div class="close"> <button onclick="hide('light')">关闭</button> </div>
                    </div>
                </div>

            </div>


            <div id="fade" class="black_overlay"></div>

        </div>


    </div>

</body>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(function () {
        GetthID(id);
    });
    function show(tag) {
        var light = document.getElementById(tag);
        light.style.display = 'block';
        $("#fade").css('display', 'block');
    }
    function hide(tag) {
        var light = document.getElementById(tag);
        light.style.display = 'none';
        $("#fade").css('display', 'none');
    }
     function quxiao() {
        $("#tb2 tr").remove()
    }
    function GetBythxqId(id) {

        $.ajax({
            type: "POST",
            url: "/LLRJ/GetBythxqId",
            data: "{id:" + id + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tb2 tr").remove();
                $.each(result, function (index, data) {
                    $("#tb2").append("<tr> <td>" + data.chanpintiaoma + "</td><td>" + data.chanpinID + "</td><td>" + data.chanpinName + "</td><td>" + data.chanpinpici + "</td><td>" + data.tuihuoTypeID + "</td><td>" + data.tuihuosum + "</td><td><a href='#' onclick='quxiao()'>删除</a></td></tr>");

                });
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }
    function GetALL() {
        $.ajax({
            type: "POST",
            url: "/LLRJ/Getthxq",
            data: "{n:'" + $("#chanpinName").val() + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tb1 tr").remove();
                $.each(result, function (index, data) {




                    $("#tb1").append("<tr> <td>" + data.chanpintiaoma + "</td><td>" + data.chanpinID + "</td><td>" + data.chanpinName + "</td><td>" + data.chanpinpici + "</td><td>" + data.tuihuoTypeID + "</td><td>" + data.tuihuosum + "</td><td><button  onclick='return GetBythxqId(" + data.tuihuoxqID + ")'>确定</button></td></tr>");
                });
            },
            error: function (ex) {
                alert(ex.responseText);

            }
            ,
        });
    }
    function show(tag) {
        var light = document.getElementById(tag);
        light.style.display = 'block';
        $("#fade").css('display', 'block');
    }
    function hide(tag) {
        var light = document.getElementById(tag);
        light.style.display = 'none';
        $("#fade").css('display', 'none');
    }
  
    function Addth() {
        var data = $("#form1").serializeArray();
        var obj = {};
        $.each(data, function (a, b) {
            obj[b.name] = b.value;
        });
        var jsons = JSON.stringify(obj);


        $.ajax({
            type: "POST",
            url: "/LLRJ/Addth",
            data: "{t:" + jsons + " }",
            dataType: "json",
            contentType: "application/json",

            success: function (result) {
                if (result > 0) {
                    alert("新增成功");

                }
                else {
                    alert("新增失败");
                }
            },
            error: function (ex) {
                alert(ex.responseText);

            }
            ,
        });
    }
    function GetthID(id) {
        $.ajax({
            type: "POST",
            url: "/LLRJ/GetthID",
            data: "{id:" + id + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $("[name='tuihuoID ']").val(data.tuihuoID);
                    $("[name='tuihuoTypeID ']").val(data.tuihuoTypeID);
                    $("[name='chanpinID ']").val(data.chanpinID);
                    $("[name='CreationDate ']").val(data.CreationDate);
                    $("[name='UserID ']").val(data.UserID);
                });
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }
    function Edit() {
        var id =@Request.QueryString["id"]
            $("[name='tuihuoID']").val(id);


            $.ajax({

                type: "POST",
                url: "/LLRJ/Editth",
                data: "{t:{tuihuoID:" + id + ",tuihuoTypeID:'" + $("[name='tuihuoTypeID']").val() + "',chanpinID:'" + $("[name='chanpinID']").val() + "',CreationDate:'" + $("[name='CreationDate']").val() + "',UserID:'" + $("[name='UserID']").val() + "'}}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result > 0) {
                        alert("修改成功");
                    }
                    else {
                        alert("修改失败");

                    }
                },
                //
                error: function (ex) {
                    alert(ex.responseText);
                }
            });

    }
</script>
