
@{
    ViewBag.Title = "chanpinlb";
    Layout = "~/Views/New/Index.cshtml";
}

<link href="~/layui/css/layui.css" rel="stylesheet" />
<link href="~/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/layui/layui.js"></script>
<script src="~/layui/layui.all.js"></script>
<div style="height:40px;text-align:left;background-color:#EFEFEF;">
    <div style="position:relative;top:8px;margin-left:20px;">
        <a style="color: #016fa7;" href="javascript:void(0)"><span class="glyphicon glyphicon-home" style="color:black"></span>   首页</a> <i>></i>
        <a style="color: #016fa7;" href="javascript:void(0)">基本资料</a> <i>></i>
        <a style="color:#016fa7;" href="javascript:void(0)">产品类别</a>
    </div>


</div>
<div class="layui-col-md12">
    <div class="layui-card" style="margin:0px;padding:0px;width:1300px;">
        <div class="layui-card-header" >
            <p style="font-weight:bolder"><span class="glyphicon glyphicon-globe"></span>产品类别</p>
            <div style="height:30px;float:right;margin-top:-53px;">
                <button href="#" class="layui-btn layui-btn-normal" style="        height: 30px;
        border-radius: 6px;
        background-color: #006dcc" onclick="show()"><span class="glyphicon glyphicon-pencil"></span> 新增</button>
                <button href="#" class="layui-btn layui-btn-normal" style="height:30px;border-radius:6px;background-color:#da4f49" onclick="you()"><span class="glyphicon glyphicon-trash"></span>  删除</button>
                <button href="#" class="layui-btn layui-btn-normal" style="height:30px;border-radius:6px;background-color:#49afcd"><span class="glyphicon glyphicon-download"></span>  导出</button>
            </div>
        </div>
        <br />

        <div class="layui-card-body">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" id="PName" placeholder="请输入类别编号或名称">
                </div>
                <button type="button" class="btn btn-default" style="background-color:#49afcd;color:white;" onclick="tjGetAll()"><span class="glyphicon glyphicon-search"></span>   搜索</button>
            </form>
            <table class="layui-table" style="color: black;">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        @*<td><input type="checkbox" id="check1" lay-skin="primary"  onclick="quanxuan('checkbox','reversecheck')"/></td>*@
                        <td> <input type="checkbox" id="check1" onclick="quanxuan('checkbox', 'reversecheck')" /> </td>
                        <th style="font-weight:bolder;">类别编号</th>
                        <th style="font-weight: bolder;">类别名称</th>
                        <th style="font-weight:bolder;">创建人</th>
                        <th style="font-weight:bolder;">创建时间</th>
                        <th style="font-weight:bolder;">备注</th>
                        <th style="font-weight:bolder;">操作</th>
                    </tr>
                </thead>
                <tbody id="tb1"></tbody>
            </table>
            <div id="demo6" style="float:left"></div>
            @*<div id="divBtn" style="text-align:center;">
            <input id="btnFirst" class=" btn btn-primary" type="button" value="首页" />
            <input id="btnBack" class=" btn btn-primary" type="button" value="上一页" />
            <input id="btnNext" class=" btn btn-primary" type="button" value="下一页" />
            <input id="btnLast" class=" btn btn-primary" type="button" value="尾页" />
        </div>*@
            <br />

            <div id="nb" hidden>

                <br />
                <span style="margin-left:30px">编号&nbsp;&nbsp;<input type="text" name="PID" readonly="readonly" placeholder="自动生成,可不填" /></span>
                <br />
                <br />
                <span style="margin-left:30px">名称&nbsp;&nbsp;<input type="text" name="PName" placeholder="请输入类别名称" /></span>
                <br />
                <br />
                <span style="margin-left:30px">备注&nbsp;&nbsp;<input type="text" name="remark" placeholder="" /></span> <br />
                <br />
                @*<div class="layui-input-inline" style="margin-left:30px">
            供应商类型&nbsp;&nbsp;
            <select name="quiz3">
                <option value="">请选择</option>
                <option value="产品仓库">虚拟供应商</option>
                <option value="产品仓库">合作供应商</option>
            </select>
        </div>*@
                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left:80px" onclick="chanpinlbadd()">确定</button>
                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="" id="guanbi" onclick="guan()">关闭</button>

            </div>
            <div id="nb2" hidden>

                <br />
                <span style="margin-left:30px">编号&nbsp;&nbsp;<input type="text" name="PID2" id="PID2" readonly="readonly" placeholder="自动生成,可不填" /></span>
                <br />
                <br />
                <span style="margin-left:30px">名称&nbsp;&nbsp;<input type="text" name="PName2" id="PName2" placeholder="请输入类别名称" /></span>
                <br />
                <br />
                <span style="margin-left:30px">备注&nbsp;&nbsp;<input type="text" name="remark2" id="remark2" placeholder="" /></span>
                <br /><br />
                @*<div class="layui-input-inline" style="margin-left:30px">
                供应商类型&nbsp;&nbsp;
                <select name="quiz3">
                    <option value="">请选择</option>
                    <option value="产品仓库">虚拟供应商</option>
                    <option value="产品仓库">合作供应商</option>
                </select>
            </div>*@
                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left:80px" onclick="chanpinlbupdate()">确定</button>
                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="" id="guanbi2" onclick="guan2()">关闭</button>

            </div>
        </div>
    </div>
</div>

<script>
    var pageIndex = 1;
    var pageSize = 4;
    var pageCount = 0;
    //分页按钮
    $(function () {
        //GetCount();
        GetAll();
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;
            //完整功能
            laypage.render({
                elem: 'demo6' //ID
                , count: pageCount
                //, prev: '上一页'
                , limit: 4
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {
                    //console.log(obj)
                    //设置当前页
                    pageIndex = obj.curr;
                    //设置每页显示
                    pageSize = obj.limit;
                    GetAll();
                    //dtmeasurementQurey();
                }
            });
        });
        //$("#btnFirst").click(function () {
        //    pageIndex = 1;
        //    GetAll();
        //});
        //$("#btnBack").click(function () {
        //    pageIndex--;
        //    GetAll();
        //});
        //$("#btnNext").click(function () {
        //    pageIndex++;
        //    GetAll();
        //});
        //$("#btnLast").click(function () {
        //    pageIndex = pageCount;
        //    GetAll();

        //});
    });
    //关闭新增
    function guan() {
        $("#guanbi").click(function () {
            layer.closeAll('page');
        })
    }
    //修改关闭
    function guan2() {
        $("#guanbi2").click(function () {
            layer.closeAll('page');
        })
    }
    //分页查询所有
    function GetAll() {
        $.ajax({
            type: "POST",
            async: false,
            url: "/YQ/Get_chanpinglbAll",
            data: "{pageIndex:'" + pageIndex + "',pageSize:'" + pageSize + "'}",
            dataType: "json",
            contentType: "Application/json",
            success: function (result) {
                $("#tb1 tr").remove();
                //获取总条数
                pageCount = result.PageCount;
                $.each(result.DateList, function (index, data) {
                    $("#tb1").append("<tr><td><input type='checkbox' name='checkbox' class='check' data-id='" + data.PID + "'/></td><td>" + data.PID + "</td><td>" + data.PName + "</td><td>" + data.UName + "</td><td>" + Data(data.CreationDate) + "</td><td>" + data.remark + "</td><td><input id='Button1' class='btn btn- success' type='button' value='删除'  onclick='chanpinlbdel(" + data.PID + ")'  /><button class='layui-btn layui-btn -primary layui-btn-sm' onclick='show2(" + data.PID + ")'>编辑</button></td></tr>");
                })
            },
        });
        btnButton();
    }
    //禁用
    function btnButton() {
        $("#divBtn :button").prop("disabled", false);
        if (pageIndex == 1) {
            $("#btnFirst").prop("disabled", true);
            $("#btnBack").prop("disabled", true);
        }
        if (pageIndex == pageCount) {
            $("#btnNext").prop("disabled", true);
            $("#btnLast").prop("disabled", true);
        }
    }
    //时间转换
    function Data(time) {
        var date = new Date(parseInt(time.substr(6)));
        return date.toLocaleDateString();
    }
    //条件查询
    function tjGetAll() {
        $.ajax({
            type: "POST",
            url: "/YQ/Get_chanpinlbmohucha",
            data: "{PID:'" + $("#PName").val() + "',PName:'" + $("#PName").val() + "'}", 
            //data: "{MName:'" + $("#MName").val() + "'}",
            dataType: "json",
            contentType: "Application/json",
            success: function (result) {
                $("#tb1 tr").remove();
                //获取总条数
                //pageCount = result.PageCount;
                $.each(result, function (index, data) {
                    $("#tb1").append("<tr><td><input style='display:block;' type='checkbox' /></td><td>" + data.PID + "</td><td>" + data.PName + "</td><td>" + data.UName + "</td><td>" + Data(data.CreationDate) + "</td><td>" + data.remark + "</td><td><input id='Button1' class='btn btn- success' type='button' value='删除'  onclick='Get_jiliangdanweiDel(" + data.MID + ")'  /><button class='layui-btn layui-btn -primary layui-btn-sm' onclick='show2(" + data.MID + ")'>编辑</button></td></tr>");
                })
            },
        });
    }
    //新增弹框
    function show() {

        layer.open({
            type: 1,//弹页面框
            skin: 'layui-layer-demo', //样式类名
            title: ['添加产品类别', 'font-size:18px'],//标题名 字体
            area: ['360px', '250px'],//高宽（自己调）
            shadeClose: true,//遮罩关闭
            content: $('#nb') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
        });
    }
    //新增产品
    function chanpinlbadd() {
        var PName = $("[name='PName']").val();
        var remark = $("[name='remark']").val();
        $.ajax({
            type: "POST",
            url: "/YQ/Get_chanpinlbAdd",
            data: "{p:{PName:'" + PName + "',remark:'" + remark + "'}}",
            dataType: "json",
            contentType: "Application/json",
            success: function (result) {
                if (result > 0) {
                    console.log();
                    alert("新增成功");
                    GetAll();
                }
                else {
                    alert("新增失败");
                }
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }   

    //全选
    function quanxuan(objName, type) {
        var objNameList = document.getElementsByName(objName);
        if (null != objNameList) {
            for (var i = 0; i < objNameList.length; i++) {
                if (objNameList[i].checked == true) {
                    if (type != 'checkall') {  // 非全选
                        objNameList[i].checked = false;
                    }
                } else {
                    if (type != 'uncheckall') {  // 非取消全选
                        objNameList[i].checked = true;
                        //console.log($("input[name='checkbox']").data("id"));
                        //alert($("input[name='checkbox']").data("id"));
                      
                    }
                }
            }
        }
    }
    function you() {
        var fan = 0;
        var states2 = 1;
        var list=[]
        $.each($("[name='checkbox']"), function (index, result) {
            //alert($(this).is("checked"));
            //console.log(result);
            if ($(this).prop("checked")) {
                list.push($(this).data("id"));

            } 
        });
        $.each(list, function (index2, result2) {
           
            $.ajax({
                type: "POST",
                url: "/YQ/Get_chanpinlbDel",
                data: "{PID:" + result2 + ",state:" + states2 + "}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    console.log(result);
                    if (result > 0) {
                        //alert("删除成功2");
                        GetAll();
                        fan = 1;
                    } else {
                        //alert("删除失败2");
                        fan = 0;
                    }
                },
                error: function (ex) {
                    alert(ex.responseText);
                }
            });
           
        })
        
    
    }
    //删除
    function chanpinlbdel(id) {
      
        var states = 1;
        if (confirm('确定删除?')) {
            //alert(id);
            $.ajax({
                type: "POST",
                url: "/YQ/Get_chanpinlbDel",
                data: "{PID:" + id + ",state:" + states + "}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    console.log(result);
                    if (result >0) {
                        alert("删除成功");
                        
                        GetAll();
                    } else {
                        alert("删除失败");
                        
                    }
                },
                error: function (ex) {
                    alert(ex.responseText);
                }
            });
          

        }

    }    
    //修改弹框  带id查值
    function show2(PID) {
        layer.open({
            type: 1,//弹页面框
            skin: 'layui-layer-demo', //样式类名
            title: ['修改产品类别', 'font-size:18px'],//标题名 字体
            area: ['360px', '250px'],//宽高（自己调）
            shadeClose: true,//遮罩关闭
            content: $('#nb2') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
        });
        $.ajax({
            type: "POST",
            url: "/YQ/Get_chanpinlbById",
            data: "{PID: " + PID + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                console.log($);
                $.each(result, function (index, data) {
                    $("[name='PID2']").val(data.PID);
                    $("[name='PName2']").val(data.PName);
                    $("[name='remark2']").val(data.remark);
                })
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }
    //修改
    function chanpinlbupdate() {
        var PID = $("#PID2").val();
        var PName = $("#PName2").val();
        var remark = $("#remark2").val();
        $.ajax({
            type: "POST",
            url: "/YQ/Get_chanpinlbupdate",
            data: "{p:{PID:'" + PID + "',PName:'" + PName + "',remark:'" + remark + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    //console.log();
                    alert("修改成功");
                    GetAll();

                } else {
                    alert("修改失败");
                }
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }
</script>



