
@{
    ViewBag.Title = "baosunadd";
    Layout = "~/Views/New/Index.cshtml";
}











<div>

    <div class="layui-card">
        <div class="layui-card-header">
            <a href="javascript:;">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;
            <a href="javascript:;">仓库作业</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="javascript:;">报损管理</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="javascript:;">新增报损单</a>



        </div>
        <div style="border:solid 1px;">
            报损单编号
            <div class="layui-input-inline">

                <input type="tel" id="rukuid" lay-verify="required|phone" autocomplete="off" class="layui-input" readonly="readonly" placeholder="自动生成">
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            报损类型
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <select id="modules" lay-verify="required" lay-search="" style="height:30px">
                        <option value="">请选择报损单类型</option>

                    </select>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
            关联单号
            <div class="layui-input-inline">

                <input type="tel" id="cpid" lay-verify="required|phone" autocomplete="off" class="layui-input">
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            制单人
            <div class="layui-input-inline">

                <input type="tel" id="man" lay-verify="required|phone" autocomplete="off" class="layui-input">
            </div>
            <br />

          
            <br />
            制单时间
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" name="date" id="time1" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
            备注
            <div class="layui-input-inline">

                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input" style="width:600px;">
            </div>
        </div>

    </div>
    <table class="layui-table">
        <thead>
            <tr>
                <td><input id="Checkbox1" type="checkbox" /></td>
                <td>&nbsp;产品名称	</td>
                <td>&nbsp;产品条码</td>
                
                <td>&nbsp;批次</td>
                <td>&nbsp;报损数量</td>
                <td>&nbsp;库位</td>
                <td>&nbsp;操作</td>

            </tr>
        </thead>
        <tbody id="T1">
        </tbody>
    </table>


</div>
<div class="layui-collapse" lay-filter="test">
    <div class="layui-colla-item">
        <h2 class="layui-colla-title"><button type="button" class="layui-btn layui-btn-lg">新增产品</button>  </h2>
        <div class="layui-colla-content">

            <div class="layui-input-inline">
                产品编码
                <select id="Pid">
                    <option>请选择商品编码</option>
                </select>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            产品名称
            <div class="layui-input-inline">

                <input type="tel" id="pname" lay-verify="required|phone" autocomplete="off" class="layui-input" style="width:150px;" readonly>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            产品规格
            <div class="layui-input-inline">

                <input type="tel" id="Pguige" lay-verify="required|phone" autocomplete="off" class="layui-input" style="width:150px;" readonly>
            </div>

            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            产品批次
            <div class="layui-input-inline">

                <input type="tel" id="Ppici" lay-verify="required|phone" autocomplete="off" class="layui-input" style="width:150px;">
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            报损库位
            <div class="layui-input-inline">

                <select id="rukutype">
                    <option></option>

                </select>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            报损数量
            <div class="layui-input-inline">

                <input type="tel" id="psum" lay-verify="required|phone" autocomplete="off" class="layui-input" style="width:150px;">
            </div>
            <br />
            <br />
            <button type="button" id="T1add" class="layui-btn layui-btn-lg">保存</button>
        </div>

        <button type="button" id="T2" class="layui-btn layui-btn-lg">保存</button>
        <button type="button" class="layui-btn layui-btn-primary layui-btn-lg">取消</button>

    </div>
</div>
<div id="hideID3" hidden="hidden">
    <br />
    <span style="margin-left:30px">
        <input name="updrxid" type="hidden" />
        数量&nbsp;&nbsp;&nbsp;<input type="text" name="T1sum" />
    </span>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <span style="margin-left:30px">
        <button type="button" id="sumgai" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left:90px;margin-bottom:2px;">
            确定
        </button>
        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm layui-layer-close layui-layer-close1">关闭</button>
    </span>
</div>

<script>








    function show3(rxid) {
        layui.use('layer', function () { //独立版的layer无需执行这一句
            var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句


            layer.open({
                type: 1,
                skin: 'layui-layer-demo', //样式类名
                title: ['修改数量', 'font-size:18px'],
                area: ['350px', '250px'],
                shadeClose: true,
                content: $('#hideID3') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
            });

        });
        $.ajax({
            type: "post",
            url: "/NX/T1byid",
            data: "{rxid:'" + rxid + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $("[name='updrxid']").val(rxid);
                    $("[name='T1sum']").val(data.kucun);
                })

            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });


    }


    layui.use('element', function () {
        var $ = layui.jquery
            , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        //触发事件
        var active = {
            tabAdd: function () {
                //新增一个Tab项
                element.tabAdd('demo', {
                    title: '新选项' + (Math.random() * 1000 | 0) //用于演示
                    , content: '内容' + (Math.random() * 1000 | 0)
                    , id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
                })
            }
            , tabDelete: function (othis) {
                //删除指定Tab项
                element.tabDelete('demo', '44'); //删除：“商品管理”


                othis.addClass('layui-btn-disabled');
            }
            , tabChange: function () {
                //切换到指定Tab项
                element.tabChange('demo', '22'); //切换到：用户管理
            }
        };

        $('.site-demo-active').on('click', function () {
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });

        //Hash地址的定位
        var layid = location.hash.replace(/^#test=/, '');
        element.tabChange('test', layid);

        element.on('tab(test)', function (elem) {
            location.hash = 'test=' + $(this).attr('lay-id');
        });

    });


    layui.use(['laydate'], function () {
        var $ = layui.jquery
            , laydate = layui.laydate;
        ; //Tab的切换功能，切换事件监听等，需要依赖element模块


        laydate.render({
            elem: '#time1'
        });





    });
    $(function () {

        rukutype();
        rukugys();
        //供应商的change事件
        $("#gysid").change(function () {
            var gysid = $("#gysid option:selected").val();
            topcha(gysid);

        });
        $("#Pid").change(function () {
            var pid = $("#Pid option:selected").val();
            alert(pid);
            downcha(pid);
            downcha2(pid);
            $("#Ppici").val("");
            $("#psum").val("");
        });
        $("#T1add").click(function () {
            pandianadd();

        })
        pbianma();
        kutype();
        T1cha();
        $("#sumgai").click(function () {
            var rxid = $("[name='updrxid']").val();
            var kucun = $("[name='T1sum']").val();

            T1upd(rxid, kucun);
            layer.closeAll('page');

        });
        $("#T2").click(function () {

            T2add();

        })


    })

    //查询报损类型的方法
    function rukutype() {
        $.ajax({
            type: "post",
            url: "/NX/baosuntypecha",
            data: "",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {

                $.each(result, function (index, data) {
                    $("#modules").append(" <option value=" + data.typeid + ">" + data.typename + "</option>");

                })
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });

    }
    //查询供应商的方法
    function rukugys() {
        $.ajax({
            type: "post",
            url: "/NX/rukugys",
            data: "",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {

                $.each(result, function (index, data) {
                    $("#gysid").append(" <option value=" + data.gysid + ">" + data.gysid + "</option>");

                })
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });

    }
    //根据供应商id查询的方法
    function topcha(gysid) {
        $.ajax({
            type: "post",
            url: "/NX/gysidcha",
            data: "{gysid:'" + gysid + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {

                $.each(result, function (index, data) {
                    $("#gname").val(data.gysname);
                    $("#gman").val(data.gysman);
                    $("#gphone").val(data.gysphone);
                })
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });

    }
    //查询产品编号的方法
    function pbianma() {
        $.ajax({
            type: "post",
            url: "/NX/pbianma",
            data: "",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $("#Pid").append(" <option value=" + data.downid + ">" + data.downid + "</option>");
                })
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }
    //根据产品编号查询到其他信息的方法
    function downcha(pid) {
        $.ajax({
            type: "post",
            url: "/NX/pidcha",
            data: "{pid:'" + pid + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                console.log(result);
                $.each(result, function (index, data) {

                    $("#Pprice").val(data.pprice);
                    $("#Pguige").val(data.pguige);
                })
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });

    }
    function downcha2(pid) {
        $.ajax({
            type: "post",
            url: "/NX/pidcha2",
            data: "{pid:'" + pid + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                console.log(result);
                $.each(result, function (index, data) {
                    $("#pname").val(data.pname);
                    $("#kucun").val(data.kucun);

                })
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });

    }


    //查询库位类型的方法
    function kutype() {
        $.ajax({
            type: "post",
            url: "/NX/kutype",
            data: "",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#rukutype option").remove();
                $.each(result, function (index, data) {
                    $("#rukutype").append(" <option value=" + data.kuid + ">" + data.kuname + "</option>");

                })
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });

    }

    //第一层新增的方法
    function pandianadd() {
        var by1 = $("#pname").val();
        var by2 = $("#kucun").val();
        var by3 = $("#rukutype option:selected").val();
        var by4 = $("#psum").val();
        var pid = $("#Pid").val();
        var pguige = $("#Pguige").val();
        var price = $("#Pprice").val();
        var ppici = $("#Ppici").val();
        var zt = "0";
        var s = "Pid:'" + pid + "',Ptiaoma:'" + by1 + "',Pguige:'" + pguige + "',bspici:'" + ppici + "',zt:'" + zt + "',Pprice:'" + price + "',by22:'" + by2 + "',by3:'" + by3 + "',bsSum:'" + by4 + "'";
        $.ajax({
            type: "post",
            url: "/NX/BSxiangadd",
            data: "{pd:{" + s + "}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("添加成功");
                    T1cha();
                }
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });

    }

    //查询第一层添加成功后的数据
    function T1cha() {
        $.ajax({
            type: "post",
            url: "/NX/bsT1cha",
            data: "",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#T1 tr").remove();
                $.each(result, function (index, data) {

                    $("#T1").append("<tr><td><input style='display:blook;' type='checkbox'></td><td name='namedd'>" + data.pname + "<input name='rxid' type='hidden' value='" + data.rxid + "' /></td><td>" + data.pid + "</td><td>" + data.ppici + "</td><td name='kucun'>" + data.bssum + "</td><td>" + data.kuwei + "</td><td><input id='del' type='button' value='删除' onclick='T1del(" + data.rxid + ")'/><input id='gai' type='button' value='修改' onclick='show3(" + data.rxid + ");' /></td></tr>");

                })

            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });

    }

    //删除的方法
    function T1del(rxid) {
        $.ajax({
            type: "post",
            url: "/NX/bsT1del",
            data: "{rr:{bsID:'" + rxid + "',zt:'"+3+"'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("删除成功");
                    T1cha();
                }

            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });

    }


    //修改数量的方法
    function T1upd(rxid, kucun) {

        $.ajax({
            type: "post",
            url: "/NX/bsT1upd",
            data: "{rk:{rxID:'" + rxid + "',bsSum:'" + kucun + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {

                    alert("修改成功");

                    T1cha();

                }

            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });

    }
    //第二层添加的方法
    function T2add() {
        var rid = 99;
        var rukutype = $("#modules option:selected").val();
        var gysid = $("#gysid option:selected").val();
        var cpid = $("#cpid").val();
        var price = $("[name='tprice']").val();
        var zt = 1;
        var userid = 4;
        var caozuofs = "电脑";
        var rxid = $("[name='rxid']").val();
        var by1 = $("[name='kucun']").text();
        var time = $("[name='date']").val();
       
        var s = "baosunTypeID:'" + rukutype + "',gysID:'" + gysid + "',cpID:'" + cpid + "',price:'" + price + "',zt:'" + zt + "',UserID:'" + userid + "',createTime:'" + time + "',caozuofs:'" + caozuofs + "',rxID:'" + rxid + "',baosunSum:'" + by1 + "'";
        $.ajax({
            type: "post",
            url: "/NX/bsT2add",
            data: "{rr:{" + s + "}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    T2ztupd(rxid);
                    alert("报损新增成功");
                }

            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });

    }
    //第二层添加的同时修改RKxiang表中的状态为1
    function T2ztupd(rxid) {
        $.ajax({
            type: "post",
            url: "/NX/bsT2ztupd",
            data: "{rr:{bsID:'" + rxid + "',zt:'" + 1 + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {

                    alert("状态修改成功");
                    window.location.href = ('baosun');
                }

            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });

    }

</script>













