
@{
    ViewBag.Title = "chuku";
    Layout = "~/Views/New/Index.cshtml";
}




<div>

    <div class="layui-card">
        <div class="layui-card-header">
            <a href="javascript:;">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;
            <a href="javascript:;">仓库作业</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="javascript:;">出库管理</a>

        </div>
        <div class="layui-card-body">


            <div class="layui-card" style="border: 1px solid #E1DFDF">


                <div class="layui-card-header">
                    出库单管理
                    <button type="button" class="layui-btn layui-btn-normal layui-btn-radius" style="margin-left:920px" onclick="window.open('chukuadd')">新增</button>
                    <button type="button" class="layui-btn layui-btn-danger layui-btn-radius">删除</button>
                    <button type="button" class="layui-btn layui-btn-radius">导出</button>

                </div>
                <div class="layui-tab" lay-filter="test">
                    <ul class="layui-tab-title">
                        <li class="layui-this" lay-id="11">所有</li>
                        <li>待审核</li>
                        <li>审核通过</li>
                        <li>审核失败</li>

                    </ul>
                    <div class="layui-tab-content">
                        @*所有*@
                        <div class="layui-tab-item layui-show">
                            <div class="layui-card-body">

                                <input id="souid" type="text" name="rukud" placeholder="请输入入库单号" size="36" />
                                <button id="allsousuo" type="button" class="layui-btn ">
                                    搜索
                                </button>

                                时间

                                <div class="layui-inline">
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="time1" placeholder="yyyy-MM-dd" style="width:100px;">
                                    </div>-
                                </div>

                                <div class="layui-inline">
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="time2" placeholder="yyyy-MM-dd" style="width:100px;">
                                    </div>
                                </div>

                                @*高级搜索*@
                                <div class="layui-collapse" lay-filter="test">
                                    <div class="layui-colla-item">
                                        <h2 class="layui-colla-title">高级搜索</h2>
                                        <div class="layui-colla-content">
                                            供应商
                                            <select id="gys">
                                                <option>请选择供应商</option>

                                            </select>
                                            单据类型
                                            <select id="danjutype">
                                                <option>请选择入库单类型</option>

                                            </select>
                                            关联单号
                                            <input id="cpid" type="text" />
                                            <button id="gaosou" type="button" class="layui-btn ">
                                                搜索
                                            </button>

                                        </div>
                                    </div>
                                </div>




                                <div class="layui-form">
                                    <table class="layui-table">
                                        <thead>
                                            <tr>
                                                <td><input id="Checkbox1" type="checkbox" /></td>
                                                <td>&nbsp;入库单号	</td>
                                                <td>&nbsp;入库类型</td>
                                                <td>&nbsp;供应商	</td>
                                                <td>&nbsp;关联单号</td>
                                                <td>&nbsp;货品总数</td>
                                                <td>&nbsp;总金额</td>
                                                <td>&nbsp;状态</td>
                                                <td>&nbsp;制单人</td>
                                                <td>&nbsp;操作方式</td>
                                                <td>&nbsp;创建时间</td>
                                                <td>&nbsp;操作</td>
                                            </tr>
                                        </thead>
                                        <tbody id="all">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        @*待审核*@
                        <div class="layui-tab-item">
                            <input type="text" name="kuweiName" placeholder="请输入入库单号" size="36" />
                            <button type="button" class="layui-btn ">
                                搜索
                            </button>

                            时间

                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="time3" placeholder="yyyy-MM-dd" style="width:100px;">
                                </div>-
                            </div>

                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="time4" placeholder="yyyy-MM-dd" style="width:100px;">
                                </div>
                            </div>
                            <div class="layui-form">
                                <table class="layui-table">
                                    <thead>
                                        <tr>
                                            <td><input id="Checkbox1" type="checkbox" /></td>
                                            <td>&nbsp;入库单号	</td>
                                            <td>&nbsp;入库类型</td>
                                            <td>&nbsp;供应商	</td>
                                            <td>&nbsp;关联单号</td>
                                            <td>&nbsp;货品总数</td>
                                            <td>&nbsp;总金额</td>
                                            <td>&nbsp;状态</td>
                                            <td>&nbsp;制单人</td>
                                            <td>&nbsp;操作方式</td>
                                            <td>&nbsp;创建时间</td>
                                            <td>&nbsp;操作</td>
                                        </tr>
                                    </thead>
                                    <tbody id="dai">
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        @*审核通过*@
                        <div class="layui-tab-item">
                            <input type="text" name="kuweiName" placeholder="请输入入库单号" size="36" />
                            <button type="button" class="layui-btn ">
                                搜索
                            </button>

                            时间

                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="time5" placeholder="yyyy-MM-dd" style="width:100px;">
                                </div>-
                            </div>

                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="time6" placeholder="yyyy-MM-dd" style="width:100px;">
                                </div>
                            </div>
                            <div class="layui-form">
                                <table class="layui-table">
                                    <thead>
                                        <tr>
                                            <td><input id="Checkbox1" type="checkbox" /></td>
                                            <td>&nbsp;入库单号	</td>
                                            <td>&nbsp;入库类型</td>
                                            <td>&nbsp;供应商	</td>
                                            <td>&nbsp;关联单号</td>
                                            <td>&nbsp;货品总数</td>
                                            <td>&nbsp;总金额</td>
                                            <td>&nbsp;状态</td>
                                            <td>&nbsp;制单人</td>
                                            <td>&nbsp;操作方式</td>
                                            <td>&nbsp;创建时间</td>
                                            <td>&nbsp;操作</td>
                                        </tr>
                                    </thead>
                                    <tbody id="tong">
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        @*审核失败*@
                        <div class="layui-tab-item">
                            <input type="text" name="kuweiName" placeholder="请输入入库单号" size="36" />
                            <button type="button" class="layui-btn ">
                                搜索
                            </button>

                            时间

                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="time7" placeholder="yyyy-MM-dd" style="width:100px;">
                                </div>-
                            </div>

                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="time8" placeholder="yyyy-MM-dd" style="width:100px;">
                                </div>
                            </div>
                            <div class="layui-form">
                                <table class="layui-table">
                                    <thead>
                                        <tr>
                                            <td><input id="Checkbox1" type="checkbox" /></td>
                                            <td>&nbsp;入库单号	</td>
                                            <td>&nbsp;入库类型</td>
                                            <td>&nbsp;供应商	</td>
                                            <td>&nbsp;关联单号</td>
                                            <td>&nbsp;货品总数</td>
                                            <td>&nbsp;总金额</td>
                                            <td>&nbsp;状态</td>
                                            <td>&nbsp;制单人</td>
                                            <td>&nbsp;操作方式</td>
                                            <td>&nbsp;创建时间</td>
                                            <td>&nbsp;操作</td>
                                        </tr>
                                    </thead>
                                    <tbody id="bai">
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div id="layui1">

                    </div>


                </div>


            </div>

            <div id="hideID2" hidden="hidden">
                <br />
                <span style="margin-left:30px">
                    部门名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="kuweiName" readonly="readonly" placeholder="请输入部门名称" />
                </span>
                <br />
                <br />
                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left:100px">确定</button>
                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">关闭</button>
            </div>


        </div>


    </div>
    @*查看的弹窗*@
    <div id="hideID3" hidden="hidden">

        <br />
        <input id="rxid" type="hidden" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="layui-input-inline">入库单号</label>
        <div class="layui-input-inline">
            <input type="text" id="rid" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="layui-input-inline">类型</label>
        <div class="layui-input-inline">
            <input type="text" id="type" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="layui-input-inline">状态</label>
        <div class="layui-input-inline">
            <input type="text" id="zt" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
        <br />
        <br />

        &nbsp;&nbsp;&nbsp;&nbsp;
        <label class="layui-input-inline">供应商编号</label>
        <div class="layui-input-inline">
            <input type="text" id="gysid" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="layui-input-inline">供应商名称</label>
        <div class="layui-input-inline">
            <input type="text" id="gysname" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
       
        <br />
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label class="layui-input-inline">关联单号</label>
        <div class="layui-input-inline">
            <input type="text" id="cpid" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>

        <label class="layui-input-inline">创建人</label>
        <div class="layui-input-inline">
            <input type="text" id="user" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="layui-input-inline">创建时间</label>
        <div class="layui-input-inline">
            <input type="text" id="time" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>

        <br />
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="layui-input-inline">电话</label>
        <div class="layui-input-inline">
            <input type="text" id="phone" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label class="layui-input-inline">备注</label>
        <div class="layui-input-inline">
            <input type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
        <br />
        <br />
        <br />
        <table class="layui-table">
            <thead>
                <tr>
                    <td><input id="Checkbox1" type="checkbox" /></td>
                    <td>&nbsp;产品名称	</td>
                    <td>&nbsp;产品条码</td>
                    <td>&nbsp;规格	</td>
                    <td>&nbsp;批次</td>
                    <td>&nbsp;单价</td>
                    <td>&nbsp;入库数</td>
                    <td>&nbsp;总价</td>
                    <td>&nbsp;库位</td>

                </tr>
            </thead>
            <tbody id="T1">
            </tbody>
        </table>





        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <span style="margin-left:30px">
            <button type="button" id="tongguo" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left:600px; ">
                审核通过
            </button>
            <button type="button" id="buguo" class="layui-btn layui-btn-primary layui-btn-sm">
                审核失败
            </button>
            <button type="button" id="guanbi" class="layui-btn layui-btn-primary layui-btn-sm">
                关闭
            </button>

        </span>
    </div>

    @*修改的弹窗*@

<div id="hideID4" hidden="hidden">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label class="layui-input-inline">出库单号</label>
    <div class="layui-input-inline">
        <input type="text" id="xrid" lay-verify="required" placeholder="不可修改" autocomplete="off" class="layui-input">
    </div>
    <br />

    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label class="layui-input-inline">出库类型</label>
    <div class="layui-input-inline">
        <div class="layui-input-inline">
            <select id="modules" lay-verify="required" lay-search="" style="height:30px">
                <option value="">请选择出库单类型</option>

            </select>
        </div>
    </div>

    <br />
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label class="layui-input-inline">关联单号</label>
    <div class="layui-input-inline">
        <input type="text" id="xcpid" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
    </div>
    <br />
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    客户编号
    <div class="layui-input-inline">
        <select id="xgysid" lay-verify="required" lay-search="" style="height:30px">
            <option value="">请选择客户编号</option>

        </select>
    </div>
    <br />
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    制单时间
    <div class="layui-input-inline">
        <input type="text" name="date" id="time1" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
    </div>
    <br />
    <button type="button" id="xiugai" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left:150px; ">
        确认修改
    </button>
    <button type="button" id="guanbi" class="layui-btn layui-btn-primary layui-btn-sm">
        关闭
    </button>
</div>
</div>




<script>
    var pageIndex = 1;
    var pageSize = 3;
    var rowss = 0;



    var rid = 0;
    function show3(rid) {
        layui.use('layer', function () { //独立版的layer无需执行这一句
            var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句


            layer.open({
                type: 1,
                skin: 'layui-layer-demo', //样式类名
                title: ['出库单详细', 'font-size:18px'],
                area: ['850px', '600px'],
                shadeClose: true,
                content: $('#hideID3') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
            });

        });
        
        $.ajax({
            
            type: "post",
            url: "/NX/chukuchakan",
            data: "{ckid:'" + rid + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $("#rid").val(data.rukuid);
                    $("#type").val(data.rukuType);
                    $("#zt").val(data.zt);
                    $("#gysid").val(data.gysid);
                    $("#gysname").val(data.gysname);
                    $("#cpid").val(222);
                    $("#user").val(data.userid);
                    $("#time").val(ConvertTime(data.time));
                    $("#phone").val(data.phone);
                    $("#rxid").val(data.ckid);


                })


            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });


    }

    function show4(rid) {
        layui.use('layer', function () { //独立版的layer无需执行这一句
            var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句


            layer.open({
                type: 1,
                skin: 'layui-layer-demo', //样式类名
                title: ['修改出库单', 'font-size:18px'],
                area: ['300px', '400px'],
                shadeClose: true,
                content: $('#hideID4') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
            });

        });
        $("#xrid").val(rid);
        xgcha(rid);
        var typeid = $("#modules option:selected").val();
        var cpid = $("#xcpid").val();
        var gysid = $("#xgysid option:selected").val();
        var time = $("#time1").val();
        $("#xiugai").click(function () {

            if (time.length != 0) {

                rukugai(rid, typeid, cpid, gysid, time);
            }
            else {
                alert("时间不能为空");
            }

        })
    }
    //修改的查询
    function xgcha(chukuid) {

        $.ajax({
            type: "post",
            url: "/NX/chukuallsou",
            data: "{chukuid:'" + chukuid + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {

                $.each(result, function (index, data) {
                    $("#modules option:selected").val(data.chukuType);
                    $("#xgysid option:selected").val(data.kuhu);
                    $("#xcpid").val(data.cpid);
                })
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }
    function chaxiang(ckid) {
        $.ajax({
            type: "post",
            url: "/NX/chukuchakanx",
            data: "{ckid:'" + ckid + "'}",
            async: false,
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#T1 tr").remove();
                $.each(result, function (index, data) {
                    $("#T1").append("<tr><td><input style='display:blook;' type='checkbox'></td><td>" + data.pname + "<input name='rxid' type='hidden' value='" + data.ckid + "' /></td><td>" + data.pid + "</td><td>" + data.pguige + "</td><td>" + data.ppici + "</td><td name='tprice'>" + data.price + "</td><td name='kucun'>" + data.psum + "</td><td name='zongjia'>" + data.total + "</td><td>" + data.kuwei + "</td></tr>");

                })

            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });

    }

    layui.use(['laydate'], function () {
        var $ = layui.jquery
            //  , element = layui.element
            , laydate = layui.laydate;
        ; //Tab的切换功能，切换事件监听等，需要依赖element模块


        laydate.render({
            elem: '#time1'
        });
        laydate.render({
            elem: '#time2'
        });




    });

    function show2() {

        layer.open({
            type: 1,
            skin: 'layui-layer-demo', //样式类名
            title: ['添加部门', 'font-size:18px'],
            area: ['300px', '200px'],
            shadeClose: true,
            content: $('#hideID2') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
        })
            ;

        //Ajax获取
        $.post('url', {}, function (str) {
            layer.open({
                type: 1,
                content: str //注意，如果str是object，那么需要字符拼接。
            });
        });
    }

    layui.use(['element', 'layer'], function () {
        var element = layui.element;
        var layer = layui.layer;

        //监听折叠
        element.on('collapse(test)', function (data) {
            //layer.msg('展开状态：' + data.show);
        });
    });






    $(function () {
        chaall();
        daicha();
        tongcha();
        baicha();
        anniu();
        rukutype();
        chukukehu();
        gaoanniu();
        $("#guanbi").click(function () {

            layer.closeAll('page');

        })
        rukutype();

        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;

            //完整功能
            laypage.render({
                elem: 'layui1'
                , count: rowss
                , limit: 4
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {
                    pageIndex = obj.curr;
                    pageSize = obj.limit;
                    chaall();
                }
            });
        });





    })
    //搜索的方法
    function anniu() {

        $("#allsousuo").click(function () {
            var cid = $("#souid").val();
            if (cid == "") {
                chaall();
            }
            else {
                allsou(cid);
            }


        });

    }
    //高级查询的按钮
    function gaoanniu() {
        $("#gaosou").click(function () {

            var gysid = $("#gys option:selected").val();
            var typeid = $("#danjutype option:selected").val();
            var cpid = $("#cpid").val();

            gaocha(gysid, typeid, cpid);
            if (gysid == null && typeid == null && cpid == null) {
                chaall();
            }
        })

    }

    //查询所有的方法
    function chaall() {

        $.ajax({
            type: "post",
            url: "/NX/chukuchaall",
            data: "{pageIndex:'" + pageIndex + "',pageSize:'" + pageSize + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#all tr").remove();
                rowss = result.PageCount;
                $.each(result.DateList, function (index, data) {
                    $("#all").append("<tr><td><input id='Checkbox1' type='checkbox' /> <input style='display:blook;' type='checkbox' name='check'><td name='CCCid'>&nbsp;" + data.chukuid + "</td><td>&nbsp;" + data.chukuType + "</td><td>&nbsp;" + data.kuhu + "</td><td>&nbsp;" + data.cpid + "</td><td>&nbsp;" + data.sum + "</td><td>&nbsp;" + data.price + "</td><td>&nbsp;" + data.zt + "</td><td>&nbsp;" + data.userid + "</td><td>&nbsp;" + data.caozuofs + "</td><td>&nbsp;" + ConvertTime(data.time) + "</td><td><input name='del' type='button' value='删除' onclick='shanchu(" + data.chukuid + ")'/><input name='kan' type='button' value='查看' onclick='show3(" + data.chukuid + ");chaxiang(" + data.ckid + ");shenghe(" + data.chukuid + "," + data.ztid + ")' /><input name='del' type='button' value='修改' onclick='show4(" + data.chukuid + ")'/></td></tr>");

                })

            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });


    }

    //所有搜索的方法
    function allsou(chukuid) {
        $.ajax({
            type: "post",
            url: "/NX/chukuallsou",
            data: "{chukuid:'" + chukuid + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#all tr").remove();
                $.each(result, function (index, data) {
                    $("#all").append("<tr><td><input id='Checkbox1' type='checkbox' /> <input style='display:blook;' type='checkbox' name='check'><td>&nbsp;" + data.chukuid + "</td><td>&nbsp;" + data.chukuType + "</td><td>&nbsp;" + data.kuhu + "</td><td>&nbsp;" + data.cpid + "</td><td>&nbsp;" + data.sum + "</td><td>&nbsp;" + data.price + "</td><td>&nbsp;" + data.zt + "</td><td>&nbsp;" + data.userid + "</td><td>&nbsp;" + data.caozuofs + "</td><td>&nbsp;" + ConvertTime(data.time) + "</td><td><input class='layui-btn layui-btn-primary layui-btn-sm' name='del' type='button' value='删除' onclick='shanchu(" + data.chukuid + ")'/><input class='layui-btn layui-btn-primary layui-btn-sm' name='kan' type='button' value='查看' onclick='show3(" + data.chukuid + ");chaxiang(" + data.ckid + ");shenghe(" + data.chukuid + "," + data.ztid + "." + data.cpid + ")' /><input class='layui-btn layui-btn-primary layui-btn-sm' name='del' type='button' value='修改' onclick='show4(" + data.chukuid + ")'/></td></tr>");

                })
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });

    }

    //查询出库类型的方法
    function rukutype() {
        $.ajax({
            type: "post",
            url: "/NX/chukutype",
            data: "",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#modules option").remove();
                $.each(result, function (index, data) {
                    $("#danjutype").append(" <option value=" + data.typeid + ">" + data.typename + "</option>");
                    $("#modules").append(" <option value=" + data.typeid + ">" + data.typename + "</option>");
                })
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });

    }
    //高级查询的方法
    function gaocha(kehuid, typeid, cpid) {
        $.ajax({
            type: "post",
            url: "/NX/chukugaocha",
            data: "{kehuid:'" + kehuid + "',typeid:'" + typeid + "',cpid:'" + cpid + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#all tr").remove();
                if (result != null) {
                    $.each(result, function (index, data) {
                        $("#all").append("<tr><td><input id='Checkbox1' type='checkbox' /> <input style='display:blook;' type='checkbox' name='check'><td>&nbsp;" + data.chukuid + "</td><td>&nbsp;" + data.chukuType + "</td><td>&nbsp;" + data.kuhu + "</td><td>&nbsp;" + data.cpid + "</td><td>&nbsp;" + data.sum + "</td><td>&nbsp;" + data.price + "</td><td>&nbsp;" + data.zt + "</td><td>&nbsp;" + data.userid + "</td><td>&nbsp;" + data.caozuofs + "</td><td>&nbsp;" + ConvertTime(data.time) + "</td><td><input class='layui-btn layui-btn-primary layui-btn-sm' name='del' type='button' value='删除' onclick='shanchu(" + data.chukuid + ")'/><input class='layui-btn layui-btn-primary layui-btn-sm' name='kan' type='button' value='查看' onclick='show3(" + data.chukuid + ");chaxiang(" + data.ckid + ");shenghe(" + data.chukuid + "," + data.ztid + ")' /><input class='layui-btn layui-btn-primary layui-btn-sm'   name='del' type='button' value='修改' onclick='show4(" + data.chukuid + ")'/></td></tr>");

                    })
                }
                else {
                    alert("不存在此数据，请重新输入");
                }

            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });

    }
    //查询客户的方法
    function chukukehu() {
        $.ajax({
            type: "post",
            url: "/NX/chukukehu",
            data: "",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#xgysid option").remove();
                $("#gys option").remove();
                $.each(result, function (index, data) {
                    $("#gys").append(" <option value=" + data.kehuid + ">" + data.kehuname + "</option>");
                    $("#xgysid").append(" <option value=" + data.kehuid + ">" + data.kehuname + "</option>");
                })
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });

    }
    //查询待审核的方法
    function daicha() {
        $.ajax({
            type: "post",
            url: "/NX/chukudaicha",
            data: "",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#dai tr").remove();
                $.each(result, function (index, data) {
                    $("#dai").append("<tr><td><input id='Checkbox1' type='checkbox' /> <input style='display:blook;' type='checkbox' name='check'><td>&nbsp;" + data.chukuid + "</td><td>&nbsp;" + data.chukuType + "</td><td>&nbsp;" + data.kuhu + "</td><td>&nbsp;" + data.cpid + "</td><td>&nbsp;" + data.sum + "</td><td>&nbsp;" + data.price + "</td><td>&nbsp;" + data.zt + "</td><td>&nbsp;" + data.userid + "</td><td>&nbsp;" + data.caozuofs + "</td><td>&nbsp;" + ConvertTime(data.time) + "</td><td><input class='layui-btn layui-btn-primary layui-btn-sm' name='del' type='button' value='删除' onclick='shanchu(" + data.chukuid + ")'/><input class='layui-btn layui-btn-primary layui-btn-sm' name='kan' type='button' value='查看' onclick='show3(" + data.chukuid + ");chaxiang(" + data.ckid + ");shenghe(" + data.chukuid + "," + data.ztid + ")' /><input class='layui-btn layui-btn-primary layui-btn-sm' name='del' type='button' value='修改' onclick='show4(" + data.chukuid + ")'/></td></tr>");

                })
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }
    //查询通过审核的方法
    function tongcha() {
        $.ajax({
            type: "post",
            url: "/NX/chutongcha",
            data: "",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tong tr").remove();
                $.each(result, function (index, data) {
                    $("#tong").append("<tr><td><input id='Checkbox1' type='checkbox' /> <input style='display:blook;' type='checkbox' name='check'><td>&nbsp;" + data.chukuid + "</td><td>&nbsp;" + data.chukuType + "</td><td>&nbsp;" + data.kuhu + "</td><td>&nbsp;" + data.cpid + "</td><td>&nbsp;" + data.sum + "</td><td>&nbsp;" + data.price + "</td><td>&nbsp;" + data.zt + "</td><td>&nbsp;" + data.userid + "</td><td>&nbsp;" + data.caozuofs + "</td><td>&nbsp;" + ConvertTime(data.time) + "</td><td><input class='layui-btn layui-btn-primary layui-btn-sm' name='del' type='button' value='删除' onclick='shanchu(" + data.chukuid + ")'/><input class='layui-btn layui-btn-primary layui-btn-sm' name='kan' type='button' value='查看' onclick='show3(" + data.chukuid + ");chaxiang(" + data.ckid + ");shenghe(" + data.chukuid + "," + data.ztid + ")' /><input class='layui-btn layui-btn-primary layui-btn-sm' name='del' type='button' value='修改' onclick='show4(" + data.chukuid + ")'/></td></tr>");

                })
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });

    }

    //删除的方法
    function shanchu(chukuid) {
        $.ajax({
            type: "post",
            url: "/NX/chukudel",
            data: "{cc:{ chukuID:'" + chukuid + "',zt:'" + 4 + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("删除成功");
                    chaall();
                    daicha();
                    tongcha();
                    baicha();
                }
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });

    }
    //查询审核失败的方法
    function baicha() {
        $.ajax({
            type: "post",
            url: "/NX/chukubaicha",
            data: "",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#bai tr").remove();
                $.each(result, function (index, data) {
                    $("#bai").append("<tr><td><input id='Checkbox1' type='checkbox' /> <input style='display:blook;' type='checkbox' name='check'><td>&nbsp;" + data.chukuid + "</td><td>&nbsp;" + data.chukuType + "</td><td>&nbsp;" + data.kuhu + "</td><td>&nbsp;" + data.cpid + "</td><td>&nbsp;" + data.sum + "</td><td>&nbsp;" + data.price + "</td><td>&nbsp;" + data.zt + "</td><td>&nbsp;" + data.userid + "</td><td>&nbsp;" + data.caozuofs + "</td><td>&nbsp;" + ConvertTime(data.time) + "</td><td><input class='layui-btn layui-btn-primary layui-btn-sm' name='del' type='button' value='删除' onclick='shanchu(" + data.chukuid + ")'/><input class='layui-btn layui-btn-primary layui-btn-sm' name='kan' type='button' value='查看' onclick='show3(" + data.chukuid + ");chaxiang(" + data.ckid + ");shenghe(" + data.chukuid + "," + data.ztid + ")' /><input class='layui-btn layui-btn-primary layui-btn-sm' name='del' type='button' value='修改' onclick='show4(" + data.chukuid + ")'/></td></tr>");
                })
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }

    //审核的方法
    function shenghe(rid, zt,cpid) {

        var ztid = zt;
        if (ztid == 2) {
            $("#tongguo").html("已审核成功");
        }
        if (ztid == 3) {
            $("#tongguo").html("已审核失败");
        }

        if (ztid == 1) {
            $("#tongguo").click(function () {
                
                
                $.ajax({
                    type: "post",
                    url: "/NX/chukusheng",
                    data: "{cc:{chukuID:'" + rid + "',zt:" + 2 + "}}",
                    dataType: "json",
                    contentType: "application/json",
                    success: function (result) {
                        alert(cpid);
                        if (result > 0) {
                            
                            //修改产品表的库存
                            $.ajax({
                                type: "post",
                                url: "/NX/CBSH",
                                data: "{rr:'" + 222 + "',count:'" + $("[name=kucun]").text() + "'}",
                                dataType: "json",
                                contentType: "application/json",
                                success: function (result) {

                                    if (result > 0) {
                                        alert("审核成功");
                                        layer.closeAll('page');
                                        chaall();
                                    }
                                },
                                error: function (ex) {
                                    alert(ex.responseText);
                                }
                            });
                        }
                    },
                    error: function (ex) {
                        alert(ex.responseText);
                    }
                });

            });
            $("#buguo").click(function () {

                $.ajax({
                    type: "post",
                    url: "/NX/rukusheng",
                    data: "{rr:{chukuID:'" + rid + "',zt:" + 3 + "}}",
                    dataType: "json",
                    contentType: "application/json",
                    success: function (result) {
                        if (result > 0) {
                            alert("审核结果为失败");
                        }
                    },
                    error: function (ex) {
                        alert(ex.responseText);
                    }
                });

            });

        }
    }

    //修改入库单的方法
    function rukugai(rid, typeid, cpid, kehuid, time) {

        $.ajax({
            type: "post",
            url: "/NX/chukugai",
            data: "{cc:{chukuID:'" + rid + "',chukuTypeID:'" + typeid + "',cpID:'" + cpid + "',kehuID:'" + kehuid + "',createTime:'" + time + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("修改成功");
                }
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }


   
    
    //转换时间的方法
    function ConvertTime(time) {
        var date = new Date(parseInt(time.substr(6)));
        return date.toLocaleDateString();
    }
</script>









