
@{
    ViewBag.Title = "bumen";
    Layout = "~/Views/New/Index.cshtml";
}
<div>
    <div class="layui-card">
        <div class="layui-card-header">
            <a href="javascript:;">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;
            <a href="javascript:;">基本资料</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="javascript:;">部门管理</a>
        </div>
        <div class="layui-card-body">
            <div class="layui-card" style="border: 1px solid #E1DFDF">
                <div class="layui-card-header">
                    部门管理
                    <button type="button" class="layui-btn layui-btn-normal layui-btn-radius" style="margin-left:920px" onclick="show2()">新增</button>
                    <button type="button" class="layui-btn layui-btn-danger layui-btn-radius" onclick="plshanchu()">删除</button>
                    <button type="button" class="layui-btn layui-btn-radius">导出</button>
                </div>
                <div class="layui-card-body">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input id="bumen" type="text" class="form-control" placeholder="请输入部门编号或部门名称">
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="departmentChaXunByName()">搜索</button>
                        </div>
                    </form>
                    <div class="layui-form">
                        <table class="layui-table">
                            <colgroup>
                            </colgroup>
                            <thead>
                                <tr>
                                    <td> <input type="checkbox" id="check1" style="display:block" onclick="quanxuan('checkbox', 'reversecheck')" /> </td>
                                    <td>&nbsp;部门编号</td>
                                    <td>&nbsp;部门名称	</td>
                                    <td>&nbsp;创建时间</td>
                                    <td>&nbsp;操作</td>
                                </tr>
                            </thead>
                            <tbody id="tbody1">
                            </tbody>
                        </table>
                        <div id="layui"></div>
                    </div>
                    @*<div>
                共 5 行 ,每页
                <div class="layui-input-inline">
                    <select name="quiz3">
                        <option value="">5</option>
                        <option value="产品仓库">10</option>
                        <option value="产品仓库">15</option>
                        <option value="产品仓库">20</option>
                        <option value="产品仓库">25</option>
                    </select>
                </div>
                行
                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left:900px">首页</button>
                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">1</button>
                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">尾页</button>
            </div>*@
                </div>
                <div id="hideID2" hidden="hidden">
                    <br />
                    <span style="margin-left:30px">
                        部门名称&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="bumenName" />
                    </span>
                    <br /><br />
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left:100px" onclick="xinzeng()">确定</button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm layui-layer-close layui-layer-close1">关闭</button>
                </div>
                <div id="hideID3" hidden="hidden">
                    <br />
                    <input id="Hid1" type="hidden"/>
                    <span style="margin-left:30px">
                        部门名称&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="bumenName2" />
                    </span>
                    <br /><br />
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="margin-left:100px" onclick="xiugai()">确定</button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm layui-layer-close layui-layer-close1">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var pageIndex = 1;
    var pageSize = 5;
    var rowss = 0;
    $(function () {
        departmentChaXun();
        //分页功能
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;
            //完整功能
            laypage.render({
                elem: 'layui'
                , count: rowss
                , limit: 10
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {
                    pageIndex = obj.curr;
                    pageSize = obj.limit;
                    departmentChaXun();
                    departmentChaXunByName();
                }
            });
        });
    });
    //全选
    function quanxuan(objName, type) {
        var objNameList = document.getElementsByName(objName);
        if (null != objNameList) {
            for (var i = 0; i < objNameList.length; i++) {
                if (objNameList[i].checked == true) {
                    if (type != 'checkall') {  // 非全选
                        objNameList[i].checked = false;
                    }
                } else {
                    if (type != 'uncheckall') {  // 非取消全选
                        objNameList[i].checked = true;
                        //console.log($("input[name='checkbox']").data("id"));
                        //alert($("input[name='checkbox']").data("id"));

                    }
                }
            }
        }
    }
    function show2() {
        layer.open({
            type: 1,
            skin: 'layui-layer-demo', //样式类名
            title: ['添加部门', 'font-size:18px'],
            area: ['300px', '200px'],
            shadeClose: true,
            content: $('#hideID2') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
        });
    }
    function show3(id) {
        layer.open({
            type: 1,
            skin: 'layui-layer-demo', //样式类名
            title: ['修改角色', 'font-size:18px'],
            area: ['350px', '250px'],
            shadeClose: true,
            content: $('#hideID3') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
        });
        $.ajax({
            type: "post",
            async: false,
            url: "/ZZX/departmentById",
            data: "{id:'" + id + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                console.log(result);
                $.each(result, function (index, data) {
                    $("#Hid1").val(data.Did);
                    $("#bumenName2").val(data.DName);
                });
            }
        });
    }
    function departmentChaXun() {
        $.ajax({
            type: "post",
            async: false,
            url: "/ZZX/departmentChaXun",
            data: "{pageindex:'" + pageIndex + "',pagesize:'" + pageSize + "'}",//
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tbody1 tr").remove();
                rowss = result.PageCount;
                $.each(result.list, function (index, data) {
                    $("#tbody1").append("<tr><td><input type='checkbox' style='display:inline-block' name='checkbox' class='check' data-id='" + data.Did + "'/></td><td>&nbsp;" + data.Did + "	</td><td>&nbsp;" + data.DName + "</td><td>&nbsp;" + ConvertTime(data.CreationDate) + "	</td>" +
                        "<td><button type='button' class='layui-btn layui-btn-primary layui-btn-sm' onclick='show3(" + data.Did + ")'>编辑</button><button type='button' class='layui-btn layui-btn-primary layui-btn-sm' onclick='shanchu(" + data.Did + ")'>删除</button></td ></tr > ");
                });
            }
        });
    }
    function departmentChaXunByName() {
        $.ajax({
            type: "post",
            async: false,
            url: "/ZZX/departmentChaXunByName",
            data: "{user2:'" + $("#bumen").val() + "',pageindex:'" + pageIndex + "',pagesize:'" + pageSize + "'}",//
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tbody1 tr").remove();
                rowss = result.PageCount;
                $.each(result.list, function (index, data) {
                    $("#tbody1").append("<tr><td><input type='checkbox' style='display:inline-block' name='checkbox' class='check' data-id='" + data.Did + "'/></td><td>&nbsp;" + data.Did + "	</td><td>&nbsp;" + data.DName + "</td><td>&nbsp;" + ConvertTime(data.CreationDate) + "	</td>" +
                        "<td><button type='button' class='layui-btn layui-btn-primary layui-btn-sm' onclick='show3(" + data.Did + ")'>编辑</button><button type='button' class='layui-btn layui-btn-primary layui-btn-sm' onclick='shanchu(" + data.Did + ")'>删除</button></td ></tr > ");
                });
            }
        });
    }
    //新增
    function xinzeng() {
        $.ajax({
            type: "post",
            url: "/ZZX/departmentXinZeng",
            data: "{d:{DName:'" + $("#bumenName").val() + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("添加成功");
                    departmentChaXun();
                }
                else {
                    alert("添加失败");
                }
            }
        });
    }
    function shanchu(Did) {
            $.ajax({
                type: "post",
                url: "/ZZX/departmentShanChu",
                data: "{d:{Did:'" + Did + "'}}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result > 0) {
                        alert("删除成功");
                        departmentChaXun();
                    } else {
                        alert("删除失败");
                    }
                },
                error: function (ex) {
                    alert(ex.responseText);
                }
            });
    }
    //批量删除
    function plshanchu() {
        var fan = 0;
        var states2 = 1;
        var list = [];

        $.each($("[name='checkbox']"), function (index, result) {
            if ($(this).prop("checked")) {
                list.push($(this).data("id"));
            }
        });
        $.each(list, function (index2, result2) {
            $.ajax({
                type: "post",
                url: "/ZZX/departmentShanChu",
                data: "{d:{Did:'" + result2 + "'}}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result > 0) {
                        alert("删除成功");
                        departmentChaXun();
                        fan = 1;
                    } else {
                        alert("删除失败");
                        fan = 0;
                    }
                },
                error: function (ex) {
                    alert(ex.responseText);
                }
            });
        });
    }
    //修改
    function xiugai() {
        if ($("#bumenName2").val() == "" ) {
            alert("文本框不能为空");
        }
        else {
            $.ajax({
                type: "post",
                url: "/ZZX/departmentXiuGai",
                data: "{d:{Did:'" + $("#Hid1").val() +"',DName:'" + $("#bumenName2").val() + "'}}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result > 0) {
                        alert("修改成功");
                        departmentChaXun();
                    }
                    else {
                        alert("修改失败");
                    }
                }
            });
        }
    }
    //转换时间的方法
    function ConvertTime(time) {
        var date = new Date(parseInt(time.substr(6)));
        return date.toLocaleDateString();
    }
</script>


