
@{
    ViewBag.Title = "QuanXianFenPei";
    Layout = "~/Views/New/Index.cshtml";
}
<div>
    <input id="Button1" type="button" value="保存" />
    <div id="test2" class="demo-transfer"></div>
</div>
<script>
    layui.use(['transfer', 'layer', 'util'], function () {
        var $ = layui.$
            , transfer = layui.transfer
            , layer = layui.layer
            , util = layui.util;

        //模拟数据
        var data1 = [
            { "value": "1", "title": "李白" }
            , { "value": "2", "title": "杜甫" }
            , { "value": "3", "title": "苏轼" }
            , { "value": "4", "title": "李清照" }
            , { "value": "5", "title": "鲁迅", "disabled": true }
            , { "value": "6", "title": "巴金" }
            , { "value": "7", "title": "冰心" }
            , { "value": "8", "title": "矛盾" }
            , { "value": "9", "title": "贤心" }
        ]

            , data2 = [
                { "value": "1", "title": "瓦罐汤" }
                , { "value": "2", "title": "油酥饼" }
                , { "value": "3", "title": "炸酱面" }
                , { "value": "4", "title": "串串香", "disabled": true }
                , { "value": "5", "title": "豆腐脑" }
                , { "value": "6", "title": "驴打滚" }
                , { "value": "7", "title": "北京烤鸭" }
                , { "value": "8", "title": "烤冷面" }
                , { "value": "9", "title": "毛血旺", "disabled": true }
                , { "value": "10", "title": "肉夹馍" }
                , { "value": "11", "title": "臊子面" }
                , { "value": "12", "title": "凉皮" }
                , { "value": "13", "title": "羊肉泡馍" }
                , { "value": "14", "title": "冰糖葫芦", "disabled": true }
                , { "value": "15", "title": "狼牙土豆" }
            ]
        //定义标题及数据源
        transfer.render({
            elem: '#test2'
            , title: ['未分配权限', '已分配权限']  //自定义标题
            , data: data1
            , width: 600 //定义宽度
            , height: 410 //定义高度
        })
    });
</script>