
@{
    ViewBag.Title = "ShouYe";
    Layout = "~/Views/New/Index.cshtml";
}
    <div style="height:70px;width:220px;margin:0px auto;">
        <h2 style="color:deeppink;">欢迎━@ViewBag.name━(*｀∀´*)ノ亻!</h2>
        <br />
        <h2>来到&nbsp;&nbsp;&nbsp;<strong style="color:deepskyblue;">首页</strong></h2>
    </div>

