@{
    ViewBag.Title = "chukuadd";
    Layout = "~/Views/New/Index.cshtml";
}





<div>

    <div class="layui-card">
        <div class="layui-card-header">
            <a href="javascript:;">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;
            <a href="javascript:;">仓库作业</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="javascript:;">入库管理</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="javascript:;">新增入库单</a>



        </div>
        <div style="border:solid 1px;">
            <div class="layui-input-inline">
                出库单编号
                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
            </div>
            出库单类型
            <div class="layui-inline">


                <div class="layui-input-inline">
                    <select name="modules" lay-verify="required" lay-search="" style="height:30px">
                        <option value="">请选择入库单类型</option>
                        <option value="1">采购收货入库</option>
                        <option value="2">销售退货入库</option>
                        <option value="3">生产产品入库</option>

                    </select>
                </div>
            </div>
            <div class="layui-input-inline">
                关联单号
                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
            </div>
            <br />
            <div class="layui-input-inline">
                客户编号
                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input" style="width:150px;">
            </div>
            <div class="layui-input-inline">
                客户名称
                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input" style="width:150px;">
            </div>
            <div class="layui-input-inline">
                客户地址
                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input" style="width:150px;">
            </div>
            <div class="layui-input-inline">
                客户联系方式
                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input" style="width:150px;">
            </div>
            <br />
            <div class="layui-input-inline">
                联系人
                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline">
                制单人
                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">发货时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-input-inline">
                备注
                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input" style="width:150px;">
            </div>
        </div>

    </div>
    <table class="layui-table">
        <thead>
            <tr>
                <td><input id="Checkbox1" type="checkbox" /></td>
                <td>&nbsp;产品名称	</td>
                <td>&nbsp;产品条码</td>
                <td>&nbsp;规格	</td>
                <td>&nbsp;批次</td>
                <td>&nbsp;单价</td>
                <td>&nbsp;入库数</td>
                <td>&nbsp;总价</td>
                <td>&nbsp;库位</td>
                <td>&nbsp;操作</td>

            </tr>
        </thead>
        <tbody>
            <tr>
                @*放数据的地方*@
            </tr>
        </tbody>
    </table>


</div>
<div class="layui-collapse" lay-filter="test">
    <div class="layui-colla-item">
        <h2 class="layui-colla-title"><button type="button" class="layui-btn layui-btn-lg">新增产品</button>  </h2>
        <div class="layui-colla-content">
            <div class="layui-input-block">
                产品编码
                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input" style="width:150px;">
            </div>
            <div class="layui-input-block">
                产品名称
                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input" style="width:150px;" readonly>
            </div>
            <div class="layui-input-block">
                产品规格
                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input" style="width:150px;" readonly>
            </div>
            <div class="layui-input-block">
                产品单价
                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input" style="width:150px;">元
            </div>
            <div class="layui-input-block">
                现有库存
                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input" style="width:150px;" readonly>
            </div>
            <div class="layui-input-block">
                产品批次
                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input" style="width:150px;">元
            </div>
            <div class="layui-input-block">
                入库库位
                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input" style="width:150px;">
            </div>
            <div class="layui-input-block">
                入库数量
                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input" style="width:150px;">
            </div>
            <button type="button" class="layui-btn layui-btn-lg">保存</button>
        </div>

        <button type="button" class="layui-btn layui-btn-lg">保存</button>
        <button type="button" class="layui-btn layui-btn-primary layui-btn-lg">取消</button>
    </div>
</div>
<script>





    function show2() {
        layer.open({
            type: 1,
            skin: 'layui-layer-demo', //样式类名
            title: ['添加部门', 'font-size:18px'],
            area: ['300px', '200px'],
            shadeClose: true,
            content: $('#hideID2') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
        });

        //Ajax获取
        $.post('url', {}, function (str) {
            layer.open({
                type: 1,
                content: str //注意，如果str是object，那么需要字符拼接。
            });
        });
    }
    layui.use('element', function () {
        var $ = layui.jquery
            , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        //触发事件
        var active = {
            tabAdd: function () {
                //新增一个Tab项
                element.tabAdd('demo', {
                    title: '新选项' + (Math.random() * 1000 | 0) //用于演示
                    , content: '内容' + (Math.random() * 1000 | 0)
                    , id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
                })
            }
            , tabDelete: function (othis) {
                //删除指定Tab项
                element.tabDelete('demo', '44'); //删除：“商品管理”


                othis.addClass('layui-btn-disabled');
            }
            , tabChange: function () {
                //切换到指定Tab项
                element.tabChange('demo', '22'); //切换到：用户管理
            }
        };

        $('.site-demo-active').on('click', function () {
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });

        //Hash地址的定位
        var layid = location.hash.replace(/^#test=/, '');
        element.tabChange('test', layid);

        element.on('tab(test)', function (elem) {
            location.hash = 'test=' + $(this).attr('lay-id');
        });

    });


    //日期
    laydate.render({
        elem: '#date'
    });
    laydate.render({
        elem: '#date1'
    });

</script>







